@import '~styles/theme';

.theme-buttons-container {
  .row {
    padding: 0;

    .col {
      padding: 0 15px 0 0;

      .row {
        display: flex;
        align-items: center;
        padding: 0 15px;

        .info-icon {
          padding: 5px 10px;
          color: $primary-1;
        }
      }
    }
  }
}
