@import "~styles/theme";

.console-page {
  .edit-heading{
    text-align: left;
    color: #0f1f24;
    font-family: $playfair-font;
    font-weight: bold;
    font-size: 28px;
    margin-top: 37px;
    margin-bottom: 31.5px;
  }
}



.theme-buttons-container{
  padding: 0;
}
