@import '~styles/theme';


.logo-container {
  display: flex;
  justify-content: center;

  .site-logo {
    fill: #fff;
    width: 100px;
    height: 50px;
  }
}

/* change the link color */
.navbar-dark {
  padding: 0;
  margin-left: -15px;
  margin-right: -15px;
  background-color: $primary-1;

  .navbar-toggler {
    border: none;
  }

  .navbar-nav .nav-link {
    font-family: $chivo-font;
    font-size: 20px;
    letter-spacing: 0.6px;
    color: white;
    border-bottom: 3px solid transparent;
    padding-left: none;
    padding-right: none;
    margin: auto 7px;

    &:hover, &.active {
      color: white;
      border-bottom: 3px solid white;
    }

    &:focus {
      color: white;
    }

  }

  .accounts-dropdown-nav{

    .dropdown-toggle {
      border-bottom: 0;
      display: flex;
      margin: 0 !important;

      &:hover {
        border-bottom: 0;
      }
    }

    .account-dropdown-icon {
      color: $primary-2;
      font-size: 28px;
    }

    .dropdown-menu {
      position: absolute;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
      padding: 0px;
      right: 20px;
      border: none;

      a {
        font-size: 16px;
        color: $secondary-1;
        padding: 10px 30px;
        font-family: $chivo-font;

        &:hover, &.active {
          background-color: rgba(109, 156, 174, 0.2);
        }

        &.disabled {
          color: #6c757d;
        }
      }
    }

    #accounts-dropdown::after {
      display: none;
    }
  }

  .nav-lms-link {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      margin: 0px 10px;
    }

    .externalLinkIcon {
      font-size: 14px;
    }
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 0;
    margin: auto 25px;
  }
}
