@import '~styles/theme';

footer.app-footer {
    background-color: $secondary-1;
    color: #fff;

    .copyright-trademarks {
      font-size: 14px;
      color: #919da0;
      font-family: $chivo-font;
    }
}

.footer-link {
  font-weight: 500;
  font-size: 18px;
  font-family: $chivo-font;
  color: #fff;

  &:hover {
    color: #919da0;
    text-decoration: none;
  }
}
