@import '~styles/theme';

.app-container {
  min-height: 100vh;

  .app-main {
    flex-grow: 1;

    .custom-domain-contact-page {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      flex: 1 1;

      h1 {
        text-align: center;
        color: #fff;
        font-family: $playfair-font;
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 40px;
      }

      .custom-domain-contact-inner {
          background-color: #fff;
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 60px;
          font-family: Chivo;
            font-size: 18px;
            letter-spacing: 0.54px;
            color: #0f1f24;

          .back-link {
            text-align: center;
            cursor: pointer;
            text-decoration: underline;
            font-family: "Chivo", sans-serif;
            font-size: 18px;
            letter-spacing: 0.54px;
            color: #1e4c59;
            margin-top: 40px;
          }
      }
    }
  }
}
