<top-bar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">OpenCraft</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="/admin/">Admin &nbsp; -></a></li>
    </ul>
  </section>
</top-bar>

<div class="row">
  <!-- Organization List -->
  <div ng-controller="OrganizationList" class="large-2 medium-2 columns">
    <ul class="side-nav" ng-if="organizationList">
      <li ng-repeat="organization in organizationList"
          ng-class="{active: organization == selected.organization}">
        <a ng-click="select(organization)">{{ organization.name }}</a>
      </li>
      <li class="divider"></li>
    </ul>

    <div class="row" ng-if="!organizationList">
      <p>No organizations are available.</p>
    </div>
  </div>

  <!-- Project & Task List -->
  <div ng-controller="ProjectTaskList" class="large-3 medium-3 columns">
    <ul class="side-nav" ng-repeat="project in selected.organization.project_set">
      <li ng-click="select(selected.organization, project)"
          ng-class="{heading: true, active: project == selected.project}">
        {{ project.title }}
      </li>

      <li ng-repeat="task in project.task_set"
          ng-class="{active: task == selected.task}">
        <a ng-click="select(selected.organization, project, task)">{{ task.title }}</a>
      </li>

      <li class="divider"></li>
    </ul>

    <ul class="side-nav" ng-if="!selected.organization.project_set">
      <li>No projects are available.</li>
    </ul>
  </div>

  <!-- Selected task details -->
  <div class="large-7 medium-7 columns">
    <div class="row" ng-if="selected.task">
      <h3>{{ selected.task.title }}</h3>
    </div>
    <div class="row" ng-if="selected.project">
      <ul class="breadcrumbs">
        <li ng-if="selected.organization">{{ selected.organization.name }}</li>
        <li ng-if="selected.project">{{ selected.project.title }}</li>
      </ul>
    </div>
    <div class="row" ng-if="selected.task">{{ selected.task.description }}</div>
  </div>
</div>
