.customizable-button {
  width: 97px;
  height: 30px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.98px;
  border-radius: 5px;
  border: 1px solid;
}
