[run]
branch = True
source = .
omit =
    */tests/*
    venv/*
    /*/migrations/*
    /playbooks/collect_activity/stats.py
    cleanup_utils/*
    integration_cleanup.py

[html]
directory = build/coverage
