appdirs==1.4.0
astroid==1.4.5
Babel==2.3.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.4.1
chardet==2.3.0
CherryPy==5.4.0
cliff==2.0.0
cmd2==0.6.8
colorama==0.3.7
cookies==2.2.1
coverage==4.1
ddt==1.0.2
debtcollector==1.4.0
decorator==4.0.9
dj-static==0.0.6
Django==1.9.6
# Can be replaced with django-angular==0.8.3 when released to PyPI.
git+https://github.com/jrief/django-angular.git@c21d7f013fa5108ba7ecc3c7a33de0251aafc604#egg=django-angular==0.8.3
django-appconf==1.0.2
django-compressor==2.0
django-debug-toolbar==1.4
django-environ==0.4.0
django-extensions==1.6.7
django-filter==0.13.0
django-grappelli==2.8.1
django-libsass==0.7
django-redis==4.4.3
-e git+https://github.com/kcsry/django-simple-email-confirmation.git@2df833cb3736264aac46f661c48bc2abdcbaa18f#egg=django-simple-email-confirmation
django-zurb-foundation==5.5.0
djangorestframework==3.3.3
dodgy==0.1.9
factory-boy==2.7.0
fake-factory==0.5.7
Flask==0.10.1
freezegun==0.3.7
futures==3.0.5
gitdb==0.6.4
GitPython==2.0.2
glob2==0.4.1
gunicorn==19.6.0
honcho==0.7.1
# Can be replaced with huey==1.1.2 when released to PyPI.
git+https://github.com/coleifer/huey.git@7fb322880a16e87c659c38746e59d66c8e5f3db7#egg=huey==1.1.2
ipdb==0.10.0
ipython==4.2.0
ipython-genutils==0.1.0
iso8601==0.1.11
itsdangerous==0.24
jasmine==2.4.0
jasmine-core==2.4.0
Jinja2==2.8
jira==1.0.3
keystoneauth1==2.7.0
lazy-object-proxy==1.2.2
libsass==0.11.1
logilab-common==1.2.0
Markdown==2.6.6
MarkupSafe==0.23
mccabe==0.4.0
monotonic==1.1
msgpack-python==0.4.7
mysqlclient==1.3.7
netaddr==0.7.18
netifaces==0.10.4
oauthlib==1.1.1
ordereddict==1.1
os-client-config==1.17.0
oslo.config==3.9.0
oslo.i18n==3.6.0
oslo.serialization==2.6.0
oslo.utils==3.10.0
path.py==8.2.1
pbr==1.10.0
pep257==0.7.0
pep8==1.7.0
pep8-naming==0.3.3
pexpect==4.1.0
pickleshare==0.7.2
positional==1.1.0
prettytable==0.7.2
prospector==0.11.7
psycopg2==2.6.1
ptyprocess==0.5.1
pyflakes==1.2.3
pylint==1.5.5
pylint-celery==0.3
pylint-common==0.2.2
pylint-django==0.7.1
pylint-flask==0.3
pylint-plugin-utils==0.2.3
pymongo==3.2.2
pyparsing==2.1.4
python-dateutil==2.5.3
python-keystoneclient==3.1.0
python-neutronclient==4.2.0
python-novaclient==4.0.0
python-swiftclient==3.0.0
pytz==2016.4
PyYAML==3.11
rcssmin==1.0.6
redis==2.10.5
requests==2.10.0
requests-oauthlib==0.6.1
requests-toolbelt==0.6.2
requestsexceptions==1.1.3
requirements-detector==0.5.1
responses==0.5.1
rjsmin==1.0.12
selenium==2.53.2
setoptconf==0.2.0
simplegeneric==0.8.1
simplejson==3.8.2
six==1.10.0
smmap==0.9.0
sockjs-tornado==1.0.3
sqlparse==0.1.19
static3==0.7.0
stevedore==1.13.0
-e git+https://github.com/jonashagstedt/swampdragon.git@061b2b1e4a57b7aa32d2fbc0824f070a52c1e300#egg=SwampDragon
tldextract==2.0.1
tlslite==0.4.9
tornado==4.3
tornado-redis==2.4.18
traitlets==4.2.1
unicodecsv==0.14.1
virtualenv==15.0.1
Werkzeug==0.11.10
wrapt==1.10.8
zxcvbn-py3==1.1
