appdirs==1.4.0
astroid==1.4.5
Babel==2.3.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.4.1
chardet==2.3.0
CherryPy==3.8.2
cliff==2.0.0
cmd2==0.6.8
colorama==0.3.7
cookies==2.2.1
coverage==4.0.3
ddt==1.0.1
debtcollector==1.3.0
decorator==4.0.9
dj-static==0.0.6
Django==1.9.5
git+https://github.com/open-craft/django-angular.git@5f3e54f909b925eecb59dc4dd73b6e9fe27e9558#egg=django-angular==0.8.3
django-appconf==1.0.2
django-compressor==2.0
django-debug-toolbar==1.4
django-environ==0.4.0
django-extensions==1.7.1
django-filter==0.13.0
django-grappelli==2.8.1
django-libsass==0.6
django-redis==4.4.2
-e git+https://github.com/kcsry/django-simple-email-confirmation.git@2df833cb3736264aac46f661c48bc2abdcbaa18f#egg=django-simple-email-confirmation
django-zurb-foundation==5.5.0
djangorestframework==3.3.3
dodgy==0.1.9
factory-boy==2.7.0
fake-factory==0.5.7
Flask==0.10.1
freezegun==0.3.7
futures==3.0.5
gitdb==0.6.4
GitPython==2.0.0
glob2==0.4.1
gunicorn==19.4.5
# Using patched honcho that includes: https://github.com/nickstenning/honcho/pull/179
git+https://github.com/open-craft/honcho.git@00c8f0d6c55ba1e9ec18470e942e47b07617099a#egg=honcho==0.7.2
huey==1.2.2
ipdb==0.9.3
ipython==4.2.0
ipython-genutils==0.1.0
iso8601==0.1.11
itsdangerous==0.24
jasmine==2.4.0
jasmine-core==2.4.0
Jinja2==2.8
jira==1.0.3
keystoneauth1==2.6.0
lazy-object-proxy==1.2.2
libsass==0.11.1
logilab-common==1.2.0
Markdown==2.6.6
MarkupSafe==0.23
mccabe==0.4.0
monotonic==1.0
msgpack-python==0.4.7
mysqlclient==1.3.7
netaddr==0.7.18
netifaces==0.10.4
oauthlib==1.0.3
ordereddict==1.1
os-client-config==1.17.0
oslo.config==3.9.0
oslo.i18n==3.6.0
oslo.serialization==2.4.0
oslo.utils==3.8.0
path.py==8.2.1
pbr==1.9.1
pep257==0.7.0
pep8==1.7.0
pep8-naming==0.3.3
pexpect==4.0.1
pickleshare==0.7.2
positional==1.1.0
prettytable==0.7.2
prospector==0.11.7
psycopg2==2.6.1
ptyprocess==0.5.1
pyflakes==1.1.0
pylint==1.5.5
pylint-celery==0.3
pylint-common==0.2.2
pylint-django==0.7.1
pylint-flask==0.3
pylint-plugin-utils==0.2.3
pymongo==3.2.2
pyparsing==2.1.1
python-dateutil==2.5.3
python-keystoneclient==2.3.1
python-neutronclient==4.2.0
python-novaclient==4.0.0
python-swiftclient==3.0.0
pytz==2016.4
PyYAML==3.10
rcssmin==1.0.6
redis==2.10.5
requests==2.9.1
requests-oauthlib==0.6.1
requests-toolbelt==0.6.0
requestsexceptions==1.1.3
requirements-detector==0.4.1
responses==0.5.1
rjsmin==1.0.12
selenium==2.53.6
setoptconf==0.2.0
simplegeneric==0.8.1
simplejson==3.8.2
six==1.10.0
smmap==0.9.0
sockjs-tornado==1.0.3
sqlparse==0.1.19
static3==0.6.1
stevedore==1.12.0
-e git+https://github.com/jonashagstedt/swampdragon.git@061b2b1e4a57b7aa32d2fbc0824f070a52c1e300#egg=SwampDragon
tldextract==2.0.1
tlslite==0.4.9
tornado==4.3
tornado-redis==2.4.18
traitlets==4.2.1
unicodecsv==0.14.1
virtualenv==15.0.1
Werkzeug==0.11.1
wrapt==1.10.8
