# Please list here direct dependencies only.
# Then run pip-compile to generate the full requirements.txt (which will include dependencies of dependencies).
# Always commit requirements.in together with requirements.txt
beautifulsoup4==4.7.1
boto==2.48.0
boto3==1.9.174
channels==2.3.0
channels_redis==2.4.0
CherryPy==18.1.1
colour==0.1.5
cookies==2.2.1
coverage==4.5.3
ddt==1.2.1
Django==2.2.9
# using the latest django-angular (2.2 or later) requires a heavy rewrite of the registration form, so we use the old 1.0.0 version patched to work under Django 2
-e git+https://github.com/open-craft/django-angular.git@v1-with-django2-support#egg=django_angular
django-compressor==2.3
django-debug-toolbar==2.0
django-environ==0.4.5
django-extensions==2.1.9
django-grappelli==2.12.3
django-libsass==0.7
django-redis==4.10.0
django-simple-email-confirmation==0.60
django-storage-swift==1.2.19
django-storages==1.7.1
django-zurb-foundation==5.5.0
djangorestframework==3.9.4
dns-lexicon==3.3.13
docutils==0.14
dodgy==0.1.9
drf-yasg==1.17.0
entrypoints==0.3
factory-boy==2.12.0
Faker==1.0.7
flake8==3.5.0
flake8-polyfill==1.0.2
freezegun==0.3.12
future==0.17.1
futures==3.1.1
GitPython==2.1.11
gunicorn==19.9.0
honcho==1.0.1
huey==2.1.0
idna==2.8
ipdb==0.12
ipython==7.5.0
iso8601==0.1.12
isort==4.3.20
keystoneauth1==3.14.0
mccabe==0.6.1
mysqlclient==1.4.2.post1
openstacksdk==0.31.1
os-client-config==1.32.0
pep257==0.7.0
pep8==1.7.1
pep8-naming==0.4.1
Pillow==6.0.0
pip-tools==4.1.0
prospector==1.1.4
psycopg2==2.8.3
pycodestyle==2.3.1
pyflakes==1.6.0
pyjwkest==1.4.0
pylint==2.2.3
pylint-celery==0.3
pylint-common==0.2.5
pylint-django==2.0.6
pylint-plugin-utils==0.5
pymongo==3.8.0
python-consul==1.1.0
python-glanceclient==2.16.0
python-keystoneclient==3.19.0
python-novaclient==14.1.0
python-openstackclient==3.19.0
python-swiftclient==3.7.0
pytz==2019.1
PyYAML==5.1.2
redis==3.2.1
requests==2.22.0
requests-file==1.4.3
responses==0.10.6
rfc3986==1.3.2
schema==0.7.1
selenium==2.53.6
service_identity==18.1.0
six==1.12.0
testfixtures==6.10.0
urllib3==1.25.3
virtualenv==16.6.1
Werkzeug==0.15.4
