@import '~styles/theme';

.hero-container {
  background-image: url('~assets/institutional-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin: 0 -15px;
}

.hero-div {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 50px auto;
    padding: 30px 20px;
    max-width: 80%;
    text-align: center;

    h2 {
      font-family: $playfair-font;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 1.8px;
      color: $primary-1;
      margin-bottom: 16px;
    }

    p {
      font-family: $chivo-font;
      font-size: 18px;
      color: #1e4c59;
    }

    @media (min-width: 800px)
    {
      max-width: 640px;
    }
}

.institutional-button-container {
  button {
    margin: 8px;
  }
}
