.courseware-header {
    background: transparent;
    align-items: left;
    border: none;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 4px solid transparent;
    margin-top: 4px;

    .org-name{
        font-weight: normal;
    }


}

.navigation-menu.course-menu {
  border-bottom: 1px solid transparent;
}

.theme-preview-course {
    border: 1px solid #c8c8c8;
}

.breadcrumbs {
    font-size: 12px;
}

