.color-input {
  .row {
    display: flex;
    align-items: center;
  }

  .input-color-picker {
    position: absolute;
    z-index: 2;
    margin-top: -20px;
  }

  .input-field-color {
    padding-left: 36px;
  }

  .input-field-preview {
    width: 20px;
    height: 20px;
    position: absolute;
    border: 1px solid black;
    margin-left: 10px;
    cursor: pointer;
  }

  .reset-value {
    font-size: 14px;
    letter-spacing: 0.14px;
    color: #1a6ebb;
    border: 0;
    padding: 0;
    background-color: transparent;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  .padded {
    margin-left: 7px;
  }
}