$primary-1: #1e4c59;
$primary-2: #6d9cae;
$secondary-1: #0f1f24;
$secondary-2: #7a7a7a;
$secondary-4: #666666;

$light-blue: #d3e1e7;
$light-blue-2: #b6cdd7;
$light-blue-3: #e2ebef;
$console-bg: #f0f5f7;
$light-gray: #f4f6f7;
$green: #239000;
$link-blue: #1a6ebb;

$alert-red: #ffe6e6;
$alert-red-2: #fdc7c7;
$alert-red-3: #ca0c1b;
$alert-yellow-1: #fff3cd;
$alert-yellow-2: #856404;
$alert-yellow-3: #f6bc02;

$dark-1: #1e4c59;
$dark-2: #0f1f24;

$theme-colors: (
  "primary": $primary-1,
  "secondary-2": $secondary-2,
  "light-blue": $light-blue,
  "light-gray": $light-gray,
  "alert-yellow-1": $alert-yellow-1,
  "alert-yellow-2": $alert-yellow-2,
  "alert-red": $alert-red,
);

$playfair-font: 'Playfair Display', serif;
$chivo-font: 'Chivo', sans-serif;
$roboto-font: 'Roboto', sans-serif;

// Disable rounded button corners
$enable-rounded: false;

// This is a fix that prevents the vertical
// scrollbar to resize the page
body {
  overflow-y: overlay;
}

// Form group styling
.form-group {
  .form-label {
    font-family: $chivo-font;
    font-size: 14px;
    letter-spacing: 0.14px;
    color: $secondary-1;
    margin-bottom: 4px;
  }
  .form-control {
    border: solid 1px $secondary-4;
  }
  p {
    padding-top: 4px;
    margin-bottom: 4px;
    font-family: $chivo-font;
    font-size: 12px;
    letter-spacing: 0.72px;
    color: $secondary-1;
  }
  .invalid-feedback {
    font-family: $chivo-font;
    font-size: 12px;
    letter-spacing: 0.72px;
    color: red;
  }
}

.custom-checkbox {
  margin: 20px 0;
  label {
    font-family: $chivo-font;
    font-size: 16px;
    color: $secondary-1;
  }
}

@mixin add-background-image {
  background-image: url("~assets/header-background.jpg");
  background-color: $primary-1;
  background-size: 100% 350px;
  background-repeat: no-repeat;
}
