@import '~styles/theme';

.status-pill {
  background-color: $primary-2;
  border-radius: 39px;
  margin: 10px 0px;
  padding: 6px 7px;
  display: inline-flex;

  .text {
    font-family: $chivo-font;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin: 1px 8px 2px 0;
    margin-top:1.5px;
    margin-left:8px;
    text-transform: uppercase;
  }

  .cancel-deployment {
    margin-left: 20px;
    margin-right: 10px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

  }

  .fa-lg {
    line-height:20px;
    font-size: 20px;
  }

}

#redeployment-status{
  margin-left:20px;
}
