/**
 * BASE
 */

html,
body
{
    height: 100%;
}

body
{
    color: map-get($colors, black);
    counter-reset: section-title;
}

header ~ main {
    padding-top: $header-height;
}

a
{
    color: currentColor;
    text-decoration: none;
}

p
{
    margin: 1em 0;
}

ul, ol
{
    margin: 0;
    padding: 0;
}
ul
{
    list-style: none;
}

hr
{
    margin: 0;
    border: 0;
}