@import '~styles/theme';

.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url("~assets/header-background.jpg");
    background-color: $primary-1;
    background-size: 100% 350px;
    background-repeat: no-repeat;
}
