@import "~styles/theme";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

.list-item {
  margin: 20px 0px;
  font-size: 18px;

  &.color-green {
    color: $green;
  }

  .domain-type {
    color: $secondary-2;
    font-size: 14px;
  }

  .dns-config-icon {
    color: $alert-yellow-3;
  }

  .dns-config {
    color: $secondary-2;
    font-size: 16px;
    margin-left: 10px;
    border-bottom: 1px black solid;
  }

  .check-dns-btn {
    flex-grow: 1;
    text-decoration: none;
    appearance: none;
    border: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
  }
}

.options-dropdown-toggle {
  display: inline-flex;
  border-radius: 0.375rem;
  justify-content: center;
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 0.5rem 1rem;

  .dropdown-toggle-caret {
    margin-left: 0.375rem;
  }
}

.options-dropdown-toggle:focus {
  border: blue solid 2px;
}

.options-dropdown-toggle::after {
  content: none;
}

.dns-config-help-modal{
  padding: 35px;

  .dns-config-help-modal-description {
    color: $dark-2;
    font-size: 16px;
    max-width: 716px
  }

  h2 {
    color: $dark-1;
    font-size: 30px;
    text-align: left;
    font-weight: 600;
    font-family: $playfair-font;
  }

  table {
    font-size: 16px;
  }

  button {
    font-size: 14px;
  }
}

.dns-config-help-modal-header{
  display: block;
  position: absolute;
  right: 0px;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding-right: 25px;
}
