@import "~styles/theme";

.custom-logo-pages {
  h2 {
    margin-bottom: 0px !important;
    color: #0f1f24;
    text-align: left;
    margin-top: 20px;
  }

  p {
    height: 17px;
    font-family: $chivo-font;
    font-size: 14px;
    letter-spacing: 0.14px;
    color: $secondary-4;
  }

  .image-container {
    display: flex;
    justify-content: center;
    vertical-align: middle;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
