{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}
{% load swampdragon_tags %}

{% block title %}Instances{% endblock %}

{% block css %}
{% compress css %}
<link href="{% static "scss/instance.scss" %}" type="text/x-scss" rel="stylesheet"/>
{% endcompress %}
{% endblock css %}

{% block content %}
<div class="container content instance-app" ng-app="InstanceApp">
    <div ui-view >Loading...</div>
</div>
{% endblock content %}

{% block body_js %}
{% swampdragon_settings %}
<script src="{% static 'swampdragon/js/dist/swampdragon.min.js' %}"></script>
<script src="{% static "js/src/instance.js" %}"></script>
{% endblock body_js %}
