{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}

{% block title %}Instances{% endblock %}

{# Needed for angular's pushState to work #}
{% block base %}{% url 'instance:index' %}{% endblock base %}

{% block css %}
{% compress css %}
<link href="{% static "scss/instance.scss" %}" type="text/x-scss" rel="stylesheet"/>
{% endcompress %}
{% endblock css %}

{% block header %}
<header>
    <nav class="top-bar" role="navigation">
        <ul class="title-area">
            <li class="name"><h1><a href="{% url 'index' %}">OpenCraft</a></h1></li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                {% if user.is_authenticated %}
                    <li><a href="#">{{ user.email }}</a></li>
                    <li><a href="{% url 'registration:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'registration:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </section>
    </div>
</header>
{% endblock header %}

{% block content %}
<div class="container content instance-app" ng-app="InstanceApp">
    <div ui-view>Loading...</div>
</div>
{% endblock content %}

{% block body_js %}
<script src="{% static "js/src/instance.js" %}"></script>
<script src="{% static "js/src/openedx_appserver.js" %}"></script>
{% endblock body_js %}

{% block footer %}{% endblock footer %}
