@import '~styles/theme';


.email-activation-alert {
  background-color: #fff3cd;
  color: #856404;
  padding: 15px;
  margin: 0 -15px;

  display: flex;
  align-items: center;

  .alert-icon {
    margin-right: 10px;
  }

  .fade.alert.alert-warning {
    margin: 0;
  }

  .redeployment-nav {
    display: inline-block;
    width: 100%;
    max-width: 1100px;
  }
}