@import "~styles/theme";

.error-page {
  width: 100%;

  h1, h2 {
      text-align: center;
      color: #fff;
  }

  h1 {
      font-family: $playfair-font;
      font-weight: bold;
      font-size: 40px;
  }

  h2 {
      font-family: $chivo-font;
      font-size: 20px;
      margin-bottom: 4rem;
  }

  .error-container {
      background-color: #fff;
      padding: 4rem 1rem;
      margin: 0 -15px;
      flex: 1;

      .error-page-content {
          margin: 0 auto;
          max-width: 700px;
          justify-content: center;
          white-space: pre-wrap;
      }
  }
}
