@import "~styles/theme";
@import "../../../console/components/ConsolePage/styles.scss";


.console-page {
  flex-direction: column;
  height: 100% ;
  .new-console-page-container {
    padding: 3rem 1rem;
    margin: 0 -15px;
    flex: 1;

    .new-console-page-content {
      margin: 0 auto;
      justify-content: center;
      flex-grow: 1;

      .customization-form {
        background-color: #f0f5f7;
        padding: 32px;
        margin-bottom: 16px;

        .loading {
          text-align: center;
          margin-top: 80px;
          margin-bottom: auto;
        }

        h2 {
          font-family: $chivo-font;
          font-size: 24px;
          letter-spacing: 0.72px;
          color: $secondary-1;
          text-align: left;
          margin-bottom: 32px;
        }
      }
    }
  }

  .edit-heading {
    text-align: left;
    color: #0f1f24;
    font-family: $playfair-font;
    font-weight: bold;
    font-size: 28px;
    margin-top: 37px;
    margin-bottom: 31.5px;
}
}

.back-button {
  font-family: $chivo-font;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0f1f24;
  padding: 0px;
}

.console-container {
  background-color:rgba(109, 156, 174, 0.3);
}
