<h4>{{ appserver.name }}</h4>


<div ng-if="!appserver">
  <p>Loading AppServer details...</p>
</div>

<accordion close-others="false" ng-if="appserver">

  <accordion-group is-open="true">
    <accordion-heading>
      <i ng-attr-class="caret fa {{ $parent.isOpen ? 'fa-caret-down' : 'fa-caret-right' }}"></i>
      Status
    </accordion-heading>
    <table>
      <tbody>
        <tr>
          <th>Status</th>
          <td><strong>{{ appserver.status_name }}</strong> ({{ appserver.status_description }})</td>
        </tr>
        <tr>
          <th>Active</th>
          <td><span ng-if="is_active">Yes</span><span ng-if="!is_active">No</span></td>
        </tr>
        <tr>
          <th>Created</th>
          <td>{{ appserver.created | date:'yyyy-MM-dd HH:mm:ssZ' }}</td>
        </tr>
        <tr>
          <th>VM</th>
          <td>{{ appserver.server.name }}</td>
        </tr>
        <tr>
          <th>VM Status</th>
          <td>{{ appserver.server.status_name }} ({{ appserver.server.status_description }})</td>
        </tr>
        <tr>
          <th>VM IP Address</th>
          <td>{{ appserver.server.public_ip }}</a></td>
        </tr>
        <tr>
          <th>Authenticated Link</th>
          <td><a href="http://{{ instance.http_auth_user }}:{{ instance.http_auth_pass }}@{{ appserver.server.public_ip }}/">{{ appserver.name }}</a></td>
        </tr>

      </tbody>
    </table>

    <button ng-disabled="is_active || !appserver.is_healthy"
            tooltip="This will add this app server to the load balancer pool for this instance."
            tooltip-placement="below"
            ng-click="make_appserver_active(true)">
      Activate this app server
    </button>

    <button ng-disabled="!is_active || instance.active_appservers.length < 2"
            tooltip="This will remove this app server from the load balancer pool for this instance."
            tooltip-placement="below"
            ng-click="make_appserver_active(false)">
      Deactivate this app server
    </button>
  </accordion-group>

  <accordion-group>
    <accordion-heading>
      <i ng-attr-class="caret fa {{ $parent.isOpen ? 'fa-caret-down' : 'fa-caret-right' }}"></i>
      Configuration
    </accordion-heading>
    <p>This is a record of this App Server's configuration. The configuration cannot be changed. Instead, change the configuration of the Instance, and launch a new App Server.</p>
    <table style="table-layout: fixed; width: 100%;">
      <colgroup><col width="200px"><col></colgroup>
      <tbody>
        <tr>
          <td>Email</td>
          <td>{{ appserver.email }}</td>
        </tr>
        <tr>
          <td>Use ephemeral databases</td>
          <td>{{ appserver.use_ephemeral_databases }}</td>
        </tr>
        <tr>
          <td>GitHub admin organizations</td>
          <td>{{ appserver.github_admin_organizations }}</td>
        </tr>
        <tr>
          <td>GitHub admin users</td>
          <td>{{ appserver.github_admin_users }}</td>
        </tr>
        <tr>
          <td>Additional security groups</td>
          <td>{{ appserver.additional_security_groups }}</td>
        </tr>
        <tr>
          <td>Additional monitoring email addresses</td>
          <td>{{ appserver.additional_monitoring_emails }}</td>
        </tr>
        <tr>
          <td>configuration_source_repo_url</td>
          <td>{{ appserver.configuration_source_repo_url }}</td>
        </tr>
        <tr>
          <td>configuration_version</td>
          <td>{{ appserver.configuration_version }}</td>
        </tr>
        <tr>
          <td>edx_platform_repository_url</td>
          <td>{{ appserver.edx_platform_repository_url }}</td>
        </tr>
        <tr>
          <td>edx_platform_commit</td>
          <td>{{ appserver.edx_platform_commit }}</td>
        </tr>
        <tr>
          <td>openedx_release</td>
          <td>{{ appserver.openedx_release }}</td>
        </tr>
        <tr>
          <td>openstack_region</td>
          <td>{{ appserver.server.openstack_region }}</td>
        </tr>
        <tr>
          <td>openstack_server_flavor</td>
          <td>{{ appserver.openstack_server_flavor }}</td>
        </tr>
        <tr>
          <td>openstack_server_base_image</td>
          <td>{{ appserver.openstack_server_base_image }}</td>
        </tr>
        <tr>
          <td>openstack_server_ssh_keyname</td>
          <td>{{ appserver.openstack_server_ssh_keyname }}</td>
        </tr>
        <tr>
          <td>configuration_extra_settings</td>
          <td><pre>{{ appserver.configuration_extra_settings }}</pre></td>
        </tr>
        <tr>
          <td>configuration_database_settings</td>
          <td><pre>{{ appserver.configuration_database_settings }}</pre></td>
        </tr>
        <tr>
          <td>configuration_storage_settings</td>
          <td><pre>{{ appserver.configuration_storage_settings }}</pre></td>
        </tr>
        <tr>
          <td>configuration_theme_settings</td>
          <td><pre>{{ appserver.configuration_theme_settings }}</pre></td>
        </tr>
        <tr>
          <td>common_configuration_settings</td>
          <td><pre>{{ appserver.common_configuration_settings }}</pre></td>
        </tr>
        <tr>
          <td>Combined ansible vars:</td>
          <td><pre>{{ appserver.configuration_settings }}</pre></td>
        </tr>
      </tbody>
    </table>
  </accordion-group>

  <accordion-group is-open="$parent.$parent.logsPanelOpen">
    <accordion-heading>
      <i ng-attr-class="caret fa {{ $parent.isOpen ? 'fa-caret-down' : 'fa-caret-right' }}"></i>
      Log
    </accordion-heading>
    <div ng-if="isFetchingLogs">
      Loading log...
    </div>
    <div class="instance-log-section" ng-if="appserver.status == 'failed' && appserverLogs != null">
      <h6>Error Log</h6>
      <div class="instance-log error"
           ng-repeat="line in appserverLogs.log_error_entries track by $index">
        <span class="timestamp">{{ line.created | date:'yyyy-MM-dd HH:mm:ssZ' }}</span>
        <span class="log-level">{{ line.level }}</span>
        <pre>{{ line.text | stripLogMeta }}</pre>
      </div>
    </div>
    <div class="instance-log-section" ng-if="appserverLogs != null">
      <h6 ng-if="appserver.status == 'failed'">Full Log</h6>
      <div ng-attr-class="instance-log {{ line.level | lowercase }}"
           ng-repeat="line in appserverLogs.log_entries track by $index">
        <span class="timestamp">{{ line.created | date:'yyyy-MM-dd HH:mm:ssZ' }}</span>
        <span class="log-level">{{ line.level }}</span>
        <pre>{{ line.text | stripLogMeta }}</pre>
      </div>
    </div>
  </accordion-group>

</accordion>
