<div class="loading-msg round warning label" ng-if="loading">
    Loading...
</div>

<div class="notification label {{ notification.type }}" ng-if="notification">
    {{ notification.message }}
</div>

<div class="row">
  <!-- Instances List -->
  <div class="large-3 columns">
    <ul class="side-nav side-instance-list">
      <li ng-repeat="instance in instanceList"
          ng-class="{active: instance.id == state.params.instanceId}"
          ng-init="
              newer_appserver = serverForInstance.newest[instance.id];
              active_appserver = serverForInstance.active[instance.id];
          ">
        <!-- Is there an app server newer than the active app server? -->
        <div class="status-icon-newest" ng-if="serverForInstance.newest[instance.id]"
             ng-class="{healthy: serverForInstance.newest[instance.id].is_healthy, unhealthy: serverForInstance.newest[instance.id].is_healthy === false}"
             tooltip="{{serverForInstance.newest[instance.id].name}} (newer than the active appserver): {{ serverForInstance.newest[instance.id].status_description }}"
             tooltip-placement="bottom" tooltip-append-to-body="true">
          <i ng-attr-class="{{ serverForInstance.newest[instance.id].is_steady && (serverForInstance.newest[instance.id].is_healthy && 'fa fa-check' || 'fa fa-times') || 'fa fa-ellipsis-h' }}"></i>
        </div>
        <div class="status-icon-newest" ng-if="!serverForInstance.newest[instance.id]" tooltip="No newer appserver"
             tooltip="No newer appserver"
             tooltip-placement="bottom" tooltip-append-to-body="true">
          <!-- placeholder indicating that there is no newer AppServer -->
        </div>
        <div class="status-icon-active" ng-class="{healthy: instance.is_healthy, unhealthy: instance.is_healthy === false}"
             tooltip="{{ serverForInstance.active[instance.id].status_description || 'No active appserver' }}"
             tooltip-placement="bottom" tooltip-append-to-body="true">
          <i ng-if="serverForInstance.active[instance.id]"
             ng-attr-class="{{ serverForInstance.active[instance.id].is_steady && (serverForInstance.active[instance.id].is_healthy && 'fa fa-check' || 'fa fa-times') || 'fa fa-ellipsis-h' }}"></i>
        </div>
        <a ui-sref="instances.details({instanceId:instance.id})">
          <strong class="instance-name">{{ instance.name }}</strong>
          {{ instance.domain }}
        </a>
      </li>
      <li class="divider"></li>
    </ul>
  </div>

  <!-- Selected instance details -->
  <div class="large-9 columns">
    <div ui-view>
    </div>
  </div>
</div>
