<div class="loading-msg round warning label" ng-if="loading">
    Loading...
</div>

<div class="notification label {{ notification.type }}" ng-if="notification">
    {{ notification.message }}
</div>

<div class="row">
  <!-- Instances List -->
  <div class="large-3 columns">
    <ul class="side-nav side-instance-list">
      <li ng-repeat="instance in instanceList"
          ng-class="{active: instance.id == state.params.instanceId}"
          ng-init="
              active_appserver = instance.active_appserver;
              newer_appserver = (instance.newest_appserver && instance.newest_appserver.id != active_appserver.id ? instance.newest_appserver : null);
          ">
        <!-- Is there an app server newer than the active app server? -->
        <div class="status-icon-newest" ng-if="newer_appserver"
             ng-class="{healthy: newer_appserver.is_healthy, unhealthy: newer_appserver.is_healthy === false}"
             tooltip="{{newer_appserver.name}} (newer then the active appserver): {{ newer_appserver.status_description }}" tooltip-placement="bottom">
          <i ng-attr-class="{{ newer_appserver.is_steady && (newer_appserver.is_healthy && 'fa fa-check' || 'fa fa-times') || 'fa fa-ellipsis-h' }}"></i>
        </div>
        <div class="status-icon-newest" ng-if="!newer_appserver" tooltip="No newer appserver" tooltip-placement="bottom">
          <!-- placeholder indicating that there is no newer AppServer -->
        </div>
        <div class="status-icon-active" ng-class="{healthy: active_appserver.is_healthy, unhealthy: active_appserver.is_healthy === false}"
             tooltip="{{ active_appserver.status_description || 'No active appserver' }}" tooltip-placement="bottom">
          <i ng-if="active_appserver" ng-attr-class="{{ active_appserver.is_steady && (active_appserver.is_healthy && 'fa fa-check' || 'fa fa-times') || 'fa fa-ellipsis-h' }}">
          </i>
        </div>
        <a ui-sref="instances.details({instanceId:instance.id})">
          <strong class="instance-name">{{ instance.name }}</strong>
          {{ instance.domain }}
        </a>
      </li>
      <li class="divider"></li>
    </ul>
  </div>

  <!-- Selected instance details -->
  <div class="large-9 columns">
    <div ui-view>
    </div>
  </div>
</div>
