<top-bar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">OpenCraft Instance Manager</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="/admin/logout/?next=/">Logout</a></li>
    </ul>
  </section>
</top-bar>

<div class="loading-msg round warning label" ng-if="loading">
    Loading...
</div>

<div class="notification label {{ notification.type }}" ng-if="notification">
    {{ notification.message }}
</div>

<div class="row">
  <!-- Instances List -->
  <div class="large-3 columns">
    <ul class="side-nav" ng-if="instanceList">
      <li ng-repeat="instance in instanceList"
          ng-class="{active: instance == selected.instance}">
        <div class="status-icon" ng-switch="instance.status">
          <i class="fa fa-ellipsis-h" tooltip-placement="top" tooltip="Waiting for server" ng-switch-when="waiting"></i>
          <i class="fa fa-ellipsis-h" tooltip-placement="top" tooltip="Configuring server" ng-switch-when="configuring"></i>
          <i class="fa fa-times" tooltip-placement="top" tooltip="Error" ng-switch-when="error"></i>
          <i class="fa fa-times" tooltip-placement="top" tooltip="Configuration Failed" ng-switch-when="failed"></i>
          <i class="fa fa-check" tooltip-placement="top" tooltip="Running" ng-switch-when="running"></i>
        </div>
        <a ng-click="select(instance)">{{ instance.name }}</a>
      </li>
      <li class="divider"></li>
    </ul>
  </div>

  <!-- Selected instance details -->
  <div class="large-9 columns" ng-if="selected.instance">
    <div class="row">
      <h3>
        {{ selected.instance.name }}
        <span ng-repeat="server in selected.instance.active_server_set">
          <span class="status radius label"
                ng-class="{warning: server.status != 'ready', success: server.status == 'ready'}"
                title="{{ server.status_description }}">
            {{ server.status_name }}
          </span>
          <span ng-switch="selected.instance.status">
            <i class="fa fa-times" tooltip-placement="top" tooltip="Error" ng-switch-when="error"></i>
            <i class="fa fa-times" tooltip-placement="top" tooltip="Configuration Failed" ng-switch-when="failed"></i>
            <i class="fa fa-check" tooltip-placement="top" tooltip="Running" ng-switch-when="running"></i>
          </span>
        </span>
      </h3>
      <div class="panel">
        <div class="row">
          <div class="large-10 columns">
            <ul class="instance-description">
              <li>
                <span>LMS: <a href="{{ selected.instance.url }}" target="_new">{{ selected.instance.url }}</a></span>
                |
                <span>Studio: <a href="{{ selected.instance.studio_url }}" target="_new">{{ selected.instance.studio_url }}</a></span>
              </li>
              <li>
                <a href="{{ selected.instance.github_branch_url }}" target="_new">{{ selected.instance.github_base_url }}</a> {{ selected.instance.branch_name }}
                <span ng-if="selected.instance.github_pr_number">
                  | <a href="{{ selected.instance.github_pr_url }}" target="_new">PR#{{ selected.instance.github_pr_number }}</a>
                </span>
              </li>
            </ul>
          </div>
          <div class="large-2 columns">
            <div class="status-icon" ng-if="selected.instance.status == 'failed'">
              <button class="button reprovision" ng-click="provision(selected.instance)">
                Provision
              </button>
            </div>
            <div class="status-icon" ng-if="selected.instance.status == 'running'">
              <button class="button reprovision" ng-click="provision(selected.instance)">
                Provision
              </button>
            </div>
            <div class="status-icon" ng-if="selected.instance.status == 'waiting'">
              <img src="/static/img/running.png" tooltip-placement="bottom" tooltip="Waiting for server..." alt="Waiting for server..."/>
            </div>
            <div class="status-icon" ng-if="selected.instance.status == 'configuring'">
              <img src="/static/img/running.png" tooltip-placement="bottom" tooltip="Provisioning in progress..." alt="Provisioning in progress..."/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <tabset>
        <tab heading="Log">
          <pre ng-if="selected.instance.status == 'failed'" class="error-log" ng-repeat="line in select.instance.log_error_entries track by $index">{{ line.created | date:'yyyy-MM-dd HH:mm:ssZ' }} | {{ line.level }} | {{ line.text }}</pre><br/>
          <pre class="instance-log" ng-repeat="line in selected.instance.log_entries track by $index">{{ line.created | date:'yyyy-MM-dd HH:mm:ssZ' }} | {{ line.level }} | {{ line.text }}</pre>
        </tab>
        <tab heading="Configuration">
          <h4>Configuring the sandbox</h4>

          <p>If you want to change the default configuration, you can add or override any of its variables by adding a "Settings" section to your PR. This ensures the information is available in a central place, for both the reviewers and the OpenCraft Instance manager. The section should use the following format:</p>

          <div class="panel">
<pre>- - -
**Settings**
```yaml
[YAML: VARIABLES]
```</pre>
          </div>

          <p>For example:</p>

          <div class="panel">
<pre>- - -
**Settings**
```yaml
EDXAPP_FEATURES:
  ALLOW_HIDING_DISCUSSION_TAB: true
```
</pre>
          </div>

          <p>Note: You need to match the above format exactly.</p>

          <h4>Current configuration</h4>
          <pre class="configuration">{{ selected.instance.ansible_settings }}</pre>
        </tab>
      </tabset>
    </div>
  </div>
</div>
