/**
 * COMPONENTS
 */

// ALERT BOX
.box-alert
{
    border-radius: 0.33rem;
    padding: 2rem;
    margin: 2rem 0;

    &__content
    {
        position: relative;
        color: currentColor;
    }
}
