/**
 * FORMS
 */

// CONTROLS

%inputs
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    height: 3rem;
    margin: 0;
    background-color: transparent;
    border: 2px solid currentColor;
    border-radius: 4px;
    color: inherit;
    font-size: 1rem;
    outline: 0;
    transition: border-color 0.3s ease;
}

// VALUE FROM PSD
$contact-margin-size: 35;
$contact-width-parent: 440;
// $contact-width-size: ($contact-width-parent - $contact-margin-size);

// FIELD
.field
{
    position: relative;
    margin-bottom: 1.67rem;

    &--contact
    {
        &--left
        {
            margin-right: percentage($contact-margin-size/$contact-width-parent);

            @include at('xs')
            {
                margin-left: auto;
                margin-right: auto;
            }
        }

        &--right
        {
            margin-left: percentage($contact-margin-size/$contact-width-parent);

            @include at('xs')
            {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    &--host
    {
    }
}

// FIXME: foundation styles have greater specificity, so we include the form tag
form .input
{
    @extend %inputs;

    &--contact
    {
        border-color: rgba(map-get($colors, white), 0.2);

        &:focus
        {
            border-color: rgba(map-get($colors, white), 0.75);
        }
    }

    &--host
    {
        border-color: rgba(map-get($colors, black), 0.2);

        &:focus
        {
            border-color: rgba(map-get($colors, black), 0.75);
        }

        &--file
        {
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;

            &__label
            {
                display: inline-block;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                outline: none;
                text-transform: none;
                user-select: none;
                white-space: nowrap;

                &::after
                {
                    content: "";
                    position: absolute;
                    top: 0;
                    z-index: -1;
                }
            }

            &:focus + &__label
            {
                border-color: rgba(map-get($colors, black), 0.75);
            }
        }

        &--subdomain
        {
            display: inline-block;
            width: percentage(268/502);
        }

        &__wrapper
        {
            &--subdomain
            {
                &::after
                {
                    display: inline-block;
                    margin-left: 0.67rem;
                    content: '.opencraft.hosting';
                }
            }
        }
    }
}

// LABELS
%labels
{
    display: block;
    width: 100%;
    margin-bottom: 0.67rem;
    padding: 0;
    background-color: transparent;
    font-size: 1rem;
    line-height: (23/strip-unit($base-font-size));
    color: inherit;
    outline: 0;
}

.field-label
{
    @extend %labels;

    &--required
    {
        &::after
        {
            content: " *";
        }
    }

    // The following fields (colors and logo/favicon) are still required, but we 
    // prefer not to show the "*" because the user isn't required to change them
    // (the defaults are good and it's not even possible not to submit a color)
    &--required[for="id_header_bg_color"],
    &--required[for="id_footer_bg_color"],
    &--required[for="main_color"],
    &--required[for="link_color"],
    &--required[for="id_logo"],
    &--required[for="id_favicon"]
    {
        &::after
        {
            content: none;
        }
    }

}

// TEXTAREAS
%textareas
{
    @extend %inputs;
    max-width: 100%;
}

.textarea
{
    @extend %textareas;

    &--contact
    {
        border-color: rgba(map-get($colors, white), 0.2);

        &:focus
        {
            border-color: rgba(map-get($colors, white), 0.75);
        }
    }

    &--host
    {
        border-color: rgba(map-get($colors, black), 0.2);

        &:focus
        {
            border-color: rgba(map-get($colors, black), 0.75);
        }
    }
}

// CHECKBOX
.checkbox
{
    $size: 2.33rem;
    $margin-right: 1.87rem;

    display: block;
    float: left;
    @include size($size);
    margin-right: $margin-right;
    border:
    {
        color: rgba(map-get($colors, black), 0.2);
        radius: 0.33rem;
        style: solid;
        width: 2px;
    }
    transition: border-color 0.3s ease;

    &--focus
    {
        border-color: rgba(map-get($colors, black), 0.75);
    }

    &--checked
    {
        background:
        {
            image: url(#{$svg-dir}forms/opencraft_valid.svg);
            position: center;
            repeat: no-repeat;
            size: 1.47rem 1.20rem;
        }
    }

    &__wrapper__text
    {
        display: block;
        overflow: hidden;
    }

    &__text
    {
        display: block;
        font-size: 1rem;
        color: inherit;
        white-space: pre-line;
    }
}
