@import "~styles/theme";

.text-input-container {
    margin-bottom: 20px;

    .form-group {
        margin-bottom: 0;
    }

    p {
        .reset-default {
            padding-top: 4px;
            margin-bottom: 4px;
            font-family: $chivo-font;
            font-size: 12px;
            letter-spacing: 0.72px;
            color: #1a6ebb;
            border: 0;
            padding: 0;
            background-color: transparent;

            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }
}