<div>
    <p>Hello from OCIM,</p>
    <p>I've sent today's share of emails to P&T and trial users.</p>
    <ol>
    {% for template_name, recipients in sent_emails.items %}
        <li>
            <strong>Email Name: </strong><span>{{ template_name }}</span>
            <strong>Sent To:</strong>
            <div>
                <ol>
                {% for email_address in recipients %}
                    <li>{{ email_address }}</li>
                {% endfor %}
                </ol>
            </div>
        </li>
    {% endfor %}
    </ol>
</div>
