
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

form.ng-submitted .ng-invalid,
form .ng-invalid-bound.ng-pristine,
form .ng-invalid.ng-dirty {
    border-color: #e9322d;
}

ul.login-form-errors, ul.login-field-errors {
    display: inline-block;
    list-style-type: none;
    margin: 5px 0 0 0;
    padding: 0;
}

ul.login-form-errors li, ul.login-field-errors li {
    color: #e9322d;
}

ul.login-field-errors {
    li::before {
        position: absolute;
        top: 2.8rem;
        left: -2.5rem;
        line-height: 2rem;
    }

    li.invalid::before {
        content: url('/static/img/svg/forms/opencraft_error.svg');
    }
}

.checkbox__wrapper__text ul.login-field-errors li::before {
    top: 0.35rem;
}
