@import "~styles/theme";

.domain-settings-container {
  font-family: $chivo-font;
  padding: 45px;

  .domain-settings-description {
    color: $dark-2;
    font-size: 16px;
    max-width: 716px;
  }

  h2 {
    color: $dark-1;
    font-size: 30px;
    text-align: left;
    font-weight: 600;
    font-family: $playfair-font;
  }

  p {
    margin: 0;
  }

  .addBtn {
    font-size: 14px;
  }
}

.add-domain-modal-header {
  display: block;
  position: absolute;
  right: 0px;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding-right: 25px;
}

.add-domain-modal {
  padding: 10px;

  .add-domain-modal-description {
    color: #797979;
    font-size: 16px;
    max-width: 716px
  }

  h2 {
    color: #000000;
    font-size: 30px;
    text-align: left;
    font-weight: 600;
    font-family: $playfair-font;
  }

  .verify-btn {
    margin-right: 0.375rem;
  }
}

.modal-content {
  border-radius:4px;
}