---
# A simple one-off playbook that gathers basic usage information from OpenedX hosts.
# This is used by the `activity_csv` management command.

- hosts: all
  vars:
    # This should be overridden to be more unique.
    local_output_dir: /tmp/
    local_output_filename: "{{ inventory_hostname }}"
    remote_output_filename: /tmp/activity_report
    config_section: "{{ inventory_hostname }}"
    extra_script_arguments: ""
  tasks:
    # We have to do a copy+command pair here (instead of script) in order to get
    #   separate channels for stdout and stderr.
    # See also: https://github.com/ansible/ansible-modules-core/pull/4000/files
    - name: Copy collect_activity script
      copy:
        src: stats.py
        dest: /tmp/collect_activity.py
      become: yes
      become_user: www-data

    - name: Run collect_activity script
      shell: >
        . /edx/app/edxapp/edxapp_env &&
        /edx/bin/python.edxapp /tmp/collect_activity.py
        --config-section {{ config_section }}
        --out {{ remote_output_filename }}
        {{ extra_script_arguments }}
      register: stats_results
      become: yes
      become_user: www-data

    # For debugging purposes:
    #   stdout contains the computed stats
    #   stderr contains any logs (including edX logs)
    - debug:
        var: stats_results

    - name: Fetch stats
      fetch:
        src: '{{ remote_output_filename }}'
        dest: '{{ local_output_dir }}/{{ local_output_filename }}'
        flat: yes
      register: fetch_results

    - debug:
        var: fetch_results
