/**
 * PLACEHOLDERS
 */


%position-absolute
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

%box-shadow
{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

%button-reset
{
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
