@import "~styles/theme";

.hero-page {
  h2 {
    margin-bottom: 0 !important;
  }

  p {
    height: 17px;
    font-family: $chivo-font;
    font-size: 14px;
    letter-spacing: 0.14px;
    color: $secondary-4;
  }

  .text-input-container {
    .form-label {
      font-size: 20px !important;
      font-family: $playfair-font !important;
      font-weight: bold;
    }
  }

  .image-upload-field {
    padding-top: 0;
    .componentHeader {
      h4 {
        font-size: 20px !important;
        font-family: $playfair-font !important;
        font-weight: bold;
      }
    }
  }

  .content {
    padding-top: 20px;

    .section-title {
      width: 92px;
      height: 24px;
      font-family: Chivo;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.6px;
      color: #000000;
    }

    .title-customization-fields .form-control {
      width: 100% !important;
    }

  }

  .hero-customizations {
    div {
      .row {
        display: flex;
        align-items: center;
      }
    }

    .image-upload-field {
      padding-top: 0;

      h4 {
        font-size: 14px;
      }

      p {
        font-size: 12px;
      }
    }
  }

  .form-group {
    line-height: 1;
    font-size: 15px;

    .form-control {
      background-color: white;
    }
  }

}
