@import "~styles/theme";

.console-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .title-container {
    margin: 60px;

    @media only screen and (max-width: 600px)
    {
      margin: 30px;
    }
  }

  h1, h2 {
    text-align: center;
    color: #fff;
  }

  h1 {
    font-family: $playfair-font;
    font-weight: bold;
    font-size: 40px;
  }

  h2 {
    font-family: $chivo-font;
    font-size: 20px;
  }

  h3 {
   font-family: $chivo-font;
   font-size: 15px;
 }

  .console-page-container {
    background-color: #fff;
    padding: 3rem 0;
    flex: 1;

    .console-page-content {
      margin: 0 auto;
      max-width: 1100px;
      justify-content: center;

      .customization-form {
        background-color: #f0f5f7;
        padding: 32px;
        margin-bottom: 16px;

        .loading {
          text-align: center;
          margin-top: 80px;
          margin-bottom: auto;
        }

        h2 {
          font-family: $chivo-font;
          font-size: 24px;
          letter-spacing: 0.72px;
          color: $secondary-1;
          text-align: left;
          margin-bottom: 32px;
        }
      }
    }
  }
}



.header-link {
  color: white;

  &:hover {
    color: white;
  }

  .instance-link {
    margin-left: 15px;
  }
}
