"""
Copy this file to local_settings.py and customize it with your configuration
"""

# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
from opencraft.settings import BASE_DIR #pylint: disable=unused-import

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '=81k(1qt210bd4cy9$!h6%-n1vg04wtf=dk)a&5e&^h8!2is)='

# Database
# https://docs.djangoproject.com/en/1.8/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'opencraft',
        'USER': 'opencraft',
        'HOST': 'localhost',
        'PASSWORD': '<password>',
    }
}


# [Optional] Ansible worker queue #############

# Instances will be created as subdomains of this domain
INSTANCES_BASE_DOMAIN = 'example.com'

# The zone attached to the `INSTANCES_BASE_DOMAIN` in Gandi
# Get it from the URL when editing the domain zone
# 1) Login on your domain at Gandi
# 2) Go to -> Services > Domains > [yourdomain].com > Zone files > Edit the zone
# 3) Get id from URL, eg. 00000000 for https://www.gandi.net/admin/domain/zone/00000000/2/edit?fromDomain=3889
# Needs to be an integer, not a string.
GANDI_ZONE_ID = 1234324

# See https://www.gandi.net/admin/api_key
GANDI_API_KEY = 'api_key'

# Redis connection for task queue
HUEY['connection'] = {'host': 'localhost', 'port': 6379}

# OpenStack
OPENSTACK_USER = 'user_name'
OPENSTACK_PASSWORD = 'password'
OPENSTACK_TENANT = 'tenant_name'
OPENSTACK_AUTH_URL = 'https://auth.example.com/v2.0'
OPENSTACK_REGION = 'region_name'
#OPENSTACK_SANDBOX_FLAVOR = {'ram': 4096, 'disk': 40}
#OPENSTACK_SANDBOX_BASE_IMAGE = {'name': 'Ubuntu 12.04'}

# Ansible
# This is the path to the edx-configuration virtual envirement (setup in README)
ANSIBLE_ENV_BIN_PATH = '/home/opencraft/.virtualenvs/edx-configuration/bin'

CONFIGURATION_REPO_PATH = '/home/opencraft/edx/configuration'
