django_users:
{% for user in lms_users %}
  - email: '{{ user.email }}'
    username: '{{ user.username }}'
    initial_password_hash: '{{ user.password }}'
    staff: true
    superuser: true
{% empty %}
  []
{% endfor %}

django_groups: []
ignore_user_creation_errors: '{{ ignore_creation_errors }}'
