@import '~styles/theme';

.redeployment-toolbar {
  background-color: $light-blue;
  padding: 15px;
  margin: 0 -15px;

  display: flex;
  align-items: center;
  justify-content: center;
  .redeployment-nav {
    display: inline-block;
    width: 100%;
    max-width: 1100px;
  }
}

.tooltip {
  .arrow:before {
    border-right-color: white;
    color: white;
  }
  .tooltip-inner {
    padding: 10px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);
    background-color: white;
    font-family: $chivo-font;
    font-size: 16px;
    letter-spacing: 0.44px;
    color: $secondary-1;
  }
}

.cancel-redeployment-modal {
  text-align: center;

  .modal-header {
    border-bottom: none;
    font-family: $playfair-font;
    font-size: 24px;
    color: #0f1f24;
    margin-bottom: -15px;
  }

  .modal-body {
    background-color: #d3e1e7;
    margin: 20px;
    font-family: $chivo-font;
    font-size: 16px;
    color: #0f1f24;
  }

  .modal-footer {
    border: none;
    justify-content: center;
    margin-bottom: 15px;
  }
}

.alert-info {
  width: 90%;
  font-family: "Roboto", sans-serif;
  background-color: #6d9cae;
  align-items: center;
  display: flex;
  margin: 0rem;
  justify-content: center;
  border-radius: 15px;
  padding: 0.5rem;
}
