{% extends "emails/email_base.html" %}
{% load static %}

{% block content %}

    <table class="almost-ready">
        <tr>
            <td class="icon">
                <img src="{{ base_url }}{% static 'img/svg/email-icon-clock.svg' %}" alt="Clock icon">
            </td>
            <td class="message">
                <strong>Your instance is almost ready.</strong>
                <p>
                    You will receive an email when your instance is ready which should be in the next 2 hours.
                </p>
            </td>
        </tr>
    </table>

    <h1>Welcome {{ user_name }}!</h1>

    <div class="thank-you">

        <p>
            Thank you for signing up with OpenCraft!
            <br>
            We are very excited to have you onboard.
        </p>
        <p>
            Your account details are as follows:
        </p>
    </div>

    <h2>Account details</h2>
    <table class="details">
        <tr>
            <td>Instance address</td>
            <td>{{ instance_url }}</td>
        </tr>
        <tr>
            <td>Instance name</td>
            <td>{{ instance_name }}</td>
        </tr>
        <tr>
            <td>Full name</td>
            <td>{{ full_name }}</td>
        </tr>
        <tr>
            <td>Email address</td>
            <td>{{ email }}</td>
        </tr>
        <tr>
            <td>Public contact email address</td>
            <td>{{ public_contact_email }}</td>
        </tr>
    </table>
    <h2>Customisation details</h2>
    <table class="details">
        <tr>
            <td>Theme</td>
            <td>{{ theme }}</td>
        </tr>
        <tr>
            <td>Primary color</td>
            <td>
                <span class="swatch" style="background-color: {{ primary_color }}"/>
                {{ primary_color }}
            </td>
        </tr>
        <tr>
            <td>Secondary colour</td>
            <td>
                <span class="swatch" style="background-color: {{ secondary_color }}"/>
                {{ secondary_color }}
            </td>
        </tr>
        <tr>
            <td>Logo</td>
            <td><a href="{{ logo_url }}">{{ logo_file }}</a></td>
        </tr>
        <tr>
            <td>Header image</td>
            <td><a href="{{ header_url }}">{{ header_file }}</a></td>
        </tr>
    </table>
    {% include "emails/_email_signature.html" %}
{% endblock %}
