{% extends "emails/email_base.html" %}
{% load static %}

{% block content %}

    <table class="almost-ready">
        <tr>
            <td class="icon">
                <img src="{{ base_url }}{% static 'img/png/email-icon-clock.png' %}" alt="Clock icon">
            </td>
            <td class="message">
                <strong>Your Open edX instance is almost here!</strong>
                <p>
                    You should receive an email when it’s ready within the next 2 hours.
                </p>
            </td>
        </tr>
    </table>

    <h1>Welcome {{ user_name }}!</h1>

    <div class="thank-you">

        <p>
            Thank you for signing up with OpenCraft!
            <br>
            We are very excited to have you onboard.
        </p>
        <p>
            If you need anything, or have any questions or suggestions,
            don’t hesitate to reply to this email.  And if you’re interested in how we at OpenCraft help you
            get the most out of Open edX, please click <a href="https://opencraft.com/?mtm_campaign=ocim&mtm_source=accountinfoemail">here.</a>
        </p>
        <p>
            Your account details are as follows:
        </p>
    </div>

    <h2>Account details</h2>
    <table class="details">
        <tr>
            <td>Instance address</td>
            <td>{{ instance_url }}</td>
        </tr>
        <tr>
            <td>Instance name</td>
            <td>{{ instance_name }}</td>
        </tr>
        <tr>
            <td>Full name</td>
            <td>{{ full_name }}</td>
        </tr>
        <tr>
            <td>Email address</td>
            <td>{{ email }}</td>
        </tr>
        <tr>
            <td>Public contact email address</td>
            <td>{{ public_contact_email }}</td>
        </tr>
    </table>
    {% include "emails/_email_signature.html" %}
{% endblock %}
