{% extends "emails/email_base.html" %}
{% load static %}

{% block content %}
    <h1>DNS Configuration Incorrect</h1>
    <p>
        Seems like your DNS entries needed to connect your domain are not properly configured.
        Log in to your domain provider to manage these settings. The following table shows the DNS
        entries needed
    </p>
    <table>
        <tr>
            <th>NAME</th>
            <th>TYPE</th>
            <th>VALUE</th>
        </tr>
        <tr>
            <td>{{external_domain}}</td>
            <td>CNAME</td>
            <td>{{cname_value}}</td>
        </tr>
        <tr>
            <td>*.{{external_domain}}</td>
            <td>CNAME</td>
            <td>{{cname_value}}</td>
        </tr>
    </table>
    
    <p>
        Happy teaching!
    </p>
    <div class="signature">
        <img src="{{ base_url }}{% static 'img/png/signature.png' %}" alt="Signature">
    </div>

{% endblock %}
