{% extends "emails/email_base.html" %}
{% load static %}

{% block content %}
    <h1>Hello {{ user_name }},</h1>
    <p>
        Thank you very much for registering for a free 30-day trial
        of our "Pro & Teacher" hosting plan for Open edX.
    </p>
    <p>
        Your Open edX instance is now ready. Let’s get started!
    </p>
    <table class="welcome">
        <tr class="icons">
            <td>
                <img src="{{ base_url }}{% static 'img/png/email-icon-lms.png' %}" alt="Link to LMS">
            </td>
            <td>
                <img src="{{ base_url }}{% static 'img/png/email-icon-studio.png' %}" alt="Link to Studio">
            </td>
            <td>
                <img src="{{ base_url }}{% static 'img/png/email-icon-customise.png' %}"
                     alt="Link to instance customisation">
            </td>
        </tr>
        <tr class="text">
            <td>
                Log into the learning management system.
            </td>
            <td>
                Log into the Studio course authoring platform.
            </td>
            <td>
                Customize your instance to align with your institutions's look and feel.
            </td>
        </tr>
        <tr class="buttons">
            <td>
                <a href="{{ lms_link }}">
                    LMS
                </a>
            </td>
            <td>
                <a href="{{ studio_link }}">
                    Studio
                </a>
            </td>
            <td>
                {% if customise_link %}
                    <a href="{{ customise_link }}">
                        Customize
                    </a>
                {% else %}
                    <a>
                        Coming soon
                    </a>
                {% endif %}
            </td>
        </tr>
    </table>
    <div class="block">
        <h2>Open edX documentation</h2>
        <p>
            All product documentation for Open edX can be found at
            <a href="https://docs.edx.org/">
                https://docs.edx.org/
            </a>.
        </p>
    </div>

    <div class="block">
        <h2>Upgrade to institutional</h2>
        <p>
            The "Pro & Teacher" paid hosting plan offers you a stable and powerful dedicated Open edX instance.
            You might also be interested in our Institutional hosting plan. The institutional plan gives you
            access to features and services like...
        </p>
        <ul>
            <li>Deeper theme customization</li>
            <li>Custom software modifications and features</li>
            <li>Integrations with external software</li>
            <li>Instance scaling for higher traffic (>1000 users)</li>
            <li>E-commerce service</li>
            <li>Course certificates</li>
            <li>edX Insights analytics</li>
            <li>Single sign-on</li>
            <li>Mobile apps</li>
            <li>...and more!</li>
        </ul>
        <p>
            Interested? Reply to this email to tell us more about your project, and we'll provide you with a quote!
            <a href="https://opencraft.com/hosting?mtm_campaign=ocim&mtm_source=instancereadyemail">You can also read more about our hosting plans here.</a>
        </p>
    </div>
    {% include "emails/_email_signature.html" %}
{% endblock %}
