{% extends "base.html" %}

{% block title %}Verify email address{% endblock %}

{% block content %}
    <div class="row">
        <div class="box-alert background-cyan-very-very-dark-desaturated color-white">
            {% if expired %}
                Your email verification link has expired. Please
                <a href="mailto:contact@opencraft.com">contact us</a>.
            {% else %}
                <p>
                    Thank you for verifying your email address ({{ email }}). If you used a separate
                    email address as the public contact email for your instance, please verify that
                    as well to continue.
                </p>
                <p>
                    Once your emails are verified, we will begin preparing your new instance and you
                    should receive an email with information about it. This usually takes two hours.
                    Once ready, we will send you a confirmation email containing all the necessary
                    instructions for accessing and customising your new instance.
                </p>
                <p>
                    At any point, don't hesitate to write to us at
                    <a href="mailto:contact@opencraft.com">contact@opencraft.com</a> if you have any
                    question or issue.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
