.loading-msg {
    position: fixed;
    top: 3px;
    left: 50%;
    margin-left: -50px;
    font-size: 12px;
    padding: 5px 15px;
}

.content.instance-app {
    .row {
        max-width: none;
    }

    div.status-icon {
        float: right;
        margin-left: 10px;
        margin-top: 8px;
    }

    .instance-description {
        margin-bottom: 0px;
    }

    .reprovision.button {
        float: right;
        margin-bottom: 0px;
        margin-right: 10px;
    }

    .status-error, .status-success {
        margin-top: 12px;
    }

    .configuration,
    .instance-log,
    .error-log {
        font-size: 0.8em;
        white-space: pre-wrap;
    }
    .error-log {
        background-color: #fcc;
        color: #800;
    }
}

// TODO: Move to application scope
div#djDebug #djDebugToolbarHandle {
    top: auto !important;
    bottom: 30px;
}
