{% load staticfiles %}
<footer class="site-footer color-white">
    <div class="container__inner site-footer__container">
        <div class="site-footer__logo text-xs-center text-md-left">
            <a href="{% url 'index' %}">
                <svg class="icon__logo icon__logo--footer" role="img">
                    <use xlink:href="{% static 'img/svg/icons.svg' %}#opencraft_logo"></use>
                </svg>
            </a>
            © OpenCraft 2013-2016
        </div>
        <div class="site-footer__copyright text-xs-center text-md-right">
            edX®, the edX logo, Open edX® and the Open edX logo are trademarks or registered trademarks of edX Inc. All Rights Reserved.
        </div>
    </div>
</footer>
