{% load staticfiles %}
<header class="site-header row color-white">
    <div class="small-12 medium-6 large-4 columns text-xs-center text-sm-left site-header__logo">
        <a href="http://opencraft.com/">
            <svg class="icon__logo icon__logo--header" role="img" alt="OpenCraft logo">
                <use xlink:href="{% static 'img/svg/icons.svg' %}#opencraft_logo"></use>
            </svg>
        </a>
        <a href="https://open.edx.org/" target="_blank">
            <img class="site-header__page-logo" src="{% static 'img/png/opencraft_client_openedx.png' %}" alt="Open edX logo" width="149" height="31">
        </a>
    </div>
    <nav class="site-header__nav text-xs-right color-white">
        <div class="site-header__nav__container">
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="#">{{ user.email }}</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
