@import "~styles/theme";

.back-button {
  span:not(:first-child) {
    margin-left: 5.1px;
    font-family: $chivo-font;
    font-size: 16px;
    text-transform: capitalize;
  }
}

.footer-settings {

  h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0%;
    text-align: left;
    color: #0f1f24;
    font-size: 28px;
    font-family: $playfair-font;
    font-weight: bold;
  }

  .color-input {
    margin: auto;

    .row {
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
      padding-top: 0;
    }

    .form-label {
      font-size: 20px !important;
      font-family: $playfair-font !important;
      font-weight: bold;
      color: #0f1f24;
    }

    .input-field-preview {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-150%);
      -ms-transform: translateY(-150%);
      transform: translateY(-150%);
    }

    .reset-value {
      margin-top: 2px;
      font-size: 14px;
      font-family: $chivo-font;
      min-width: 100%;
      text-align: left;
      margin-left: 0;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }
}
