@import "~styles/theme";

.back-button {
  span:not(:first-child) {
    margin-left: 5.1px;
    font-family: $chivo-font;
    font-size: 16px;
    text-transform: capitalize;
  }
}

.footer-settings {

  h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0%;
    text-align: left;
    color: #0f1f24;
    font-size: 28px;
    font-family: $playfair-font;
    font-weight: bold;
  }

  .color-input {
    margin: auto;

    .row {
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
      padding-top: 0;
    }

    .form-label {
      font-size: 20px !important;
      font-family: $playfair-font !important;
      font-weight: bold;
      color: #0f1f24;
    }
  }
}
