/**
 * UTILITIES: COLOR SYSTEM
 */

@each $name, $value in $colors {
    .background-#{$name}
    {
        background-color: $value;
    }

    .color-#{$name}
    {
        color: $value;
    }

    .border-#{$name}
    {
        border-color: $value;
    }
}