/**
 * RESPONSIVE: SIZE SYSTEM
 */

// HEIGHT
@include from('xs')
{
    .h
    {
        &-xs
        {
            &-33
            {
                height: percentage(1/3);
            }

            // This one is nonsense
            &-36
            {
                height: percentage(9/25);
            }

            &-40
            {
                height: 40%;
            }

            &-50
            {
                height: 50%;
            }

            &-66
            {
                height: percentage(2/3);
            }

            &-100
            {
                height: 100%;
            }

            &-200
            {
                height: 200%;
            }
        }
    }
}

@include from('md')
{
    .h-md-33
    {
        height: percentage(1/3);
    }

    .h-md-50
    {
        height: 50%;
    }

    .h-md-66
    {
        height: percentage(2/3);
    }

    .h-md-100
    {
        height: 100%;
    }

    .h-md-200
    {
        height: 200%;
    }
}

// WIDTH
@include from('xs')
{
    .w-xs
    {
        &-25
        {
            width: 25%;
        }

        &-40
        {
            width: 40%;
        }

        &-50
        {
            width: 50%;
        }

        &-75
        {
            width: 75%;
        }

        &-80
        {
            width: 80%;
        }

        &-100
        {
            width: 100%;
        }
    }
}

@include from('sm')
{
    .w-sm
    {
        &-25
        {
            width: 25%;
        }

        &-50
        {
            width: 50%;
        }

        &-75
        {
            width: 75%;
        }

        &-100
        {
            width: 100%;
        }
    }
}

@include from('md')
{
    .w-md
    {
        &-25
        {
            width: 25%;
        }

        &-50
        {
            width: 50%;
        }

        &-75
        {
            width: 75%;
        }
    }
}