.div-fill {
  height: 100%;
}

.use-own {
  text-align: center;
  text-decoration: underline;
  font-family: Chivo;
  font-size: 18px;
  letter-spacing: 0.54px;
  color: #1e4c59;
  margin-top: 40px;
}
