.button-name {
  width: 804px;
  height: 29px;
  font-family: Chivo;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.72px;
  color: #0f1f24;
}

.style-name {
  width: 126px;
  height: 24px;
  font-family: Chivo;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #000000;
}
