@import "~styles/theme";

.button-customization-page {
  .button-name {
    width: 100%;
    height: 29px;
    font-family: $playfair-font;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.72px;
    color: #0f1f24;
    display: inline-flex;
    align-items: center;

    .custom-switch {
      margin-left: 10px;
      display: inline-flex;
    }

    span.info-icon {
      margin-left: 10px;
      display: inline-flex;

      .custom-switch {
        margin-left: 0;
      }
    }
  }

  .style-name {
    width: 100%;
    height: 24px;
    font-family: $playfair-font;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #000000;
    margin-top: 20px;
  }
}
