<div class="page-content__inner__wrapper">
    <div class="page-content__inner__left">
        <div class="field field--host">
            {{ field }}
            <div class="checkbox__wrapper__text">
                <label class="checkbox__text" for="{{ field.id_for_label }}">{{ field.help_text|safe }}</label>
                {{ field.errors }}
            </div>
        </div>
    </div>
    <div class="page-content__inner__right">
        {% if view_name %}
        <p class="color-gray-dark">
        <a href="{% url view_name %}" target="_blank">{% if link_text %}{{ link_text }}{% else %}See more.{% endif %}</a>
        </p>
        {% endif %}
    </div>
</div>
