{% load staticfiles %}
<div class="page-content__inner__wrapper">
    <div class="page-content__inner__left">
        <div class="field field--host">
            <label class="field-label field-label--required" for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
            <div class="input--host__wrapper input--host__wrapper--{{ field.name }}">
                {{ field }}
            </div>
            {{ field.errors }}
        </div>
    </div>
    <div class="page-content__inner__right">
        <p class="color-gray-dark">{{ field.help_text|safe }}</p>
    </div>
</div>
