{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="page-title text-xs-center color-white">
    <h1 class="page-title__text">Login</h1>
</div>

<div class="row small-collapse page-content clearfix" ng-app="LoginApp">
    <div class="page-content__inner small-12 medium-10 medium-offset-1 columns background-white">
        {% include "registration/login_form.html" %}
    </div>
</div>
{% endblock content %}

{% block body_js %}
<script src="{% static "djng/js/django-angular.min.js" %}"></script>
<script src="{% static "js/src/login.js" %}"></script>
{% endblock body_js %}
