{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Privacy Policy{% endblock title %}

{% block content %}
<div class="page-title text-xs-center color-white">
    <h1 class="page-title__text">Privacy Policy</h1>
    <p class="page-title__catchline text-xs-center h4">
        Privacy Policy for the Website OpenCraft.com
    </p>
</div>

<div class="row page-content clearfix">
    <div class="page-content__inner small-12 medium-10 medium-offset-1 float-left background-white">
        <div class="page-content__inner__wrapper">
            <p>
                The OpenCraft GmbH (&ldquo;we&rdquo;) operates the website OpenCraft.com
                (the &ldquo;Site&rdquo;), accessible at
                <a href="http://opencraft.com">http://opencraft.com</a> and
                <a href="https://console.opencraft.com/">https://console.opencraft.com/</a>.
            </p>
            <p>
                This privacy policy informs you on the personal data we collect
                when you visit our Site and how we process it.  With this
                privacy policy, we also fulfil our obligation to inform you
                pursuant to Art. 13 GDPR.
            </p>
            <section>
                <h3>
                    Identity of the controller and contact details of our Data Protection Officer
                </h3>
                <p>
                    The controller is
                </p>
                <address>
                    <p>
                        OpenCraft GmbH<br/>
                        c/o Dr. Jan Timmann<br/>
                        Jerusalemer Str. 14<br/>
                        10117 Berlin<br/>
                        Germany
                    </p>
                    <p>
                        <a href="mailto:contact@opencraft.com">contact@opencraft.com</a>
                    </p>
                </address>
                <p>
                    You can contact our Data Protection Officer under the
                    address mentioned above or via email to Xavier Antoviaque
                    <a href="mailto:privacy@opencraft.com">privacy@opencraft.com</a>.
                </p>
            </section>
            <section>
                <h3>
                    Purposes of processing, its legal basis and the period for
                    which the data will be stored
                </h3>
                <h4>
                    General use of the Site
                </h4>
                <p>
                    Generally, we do not store personal data while you use our
                    Site with the exception that our webserver registers all
                    connections to the Site automatically and collects the
                    following technical information about your visit:
                </p>
                <p>
                    <ul>
                        <li>Your IP address;</li>
                        <li>the name of the files accessed;</li>
                        <li>information about the transmission;</li>
                        <li>date and time of the connection;</li>
                        <li>the amount of data transmitted;</li>
                        <li>the referrer; and</li>
                        <li>the web browser/user agent.</li>
                    </ul>
                </p>
                <p>
                    We process this data to allow your device to establish a
                    connection to our webserver over the Internet. This purpose
                    also constitutes our legitimate interest (Art. 6 par. 1
                    lit. f) GDPR).
                </p>
                <p>
                    Afterwards the IP address is anonymized and the remaining
                    data is stored in log files.
                </p>
                <h4>
                    Registering for a self-service instance
                </h4>
                <p>
                    On our Site, you can register for an instant, self-service
                    instance. To provide you with such instance, we collect the
                    following information:
                </p>
                <p>
                    <ul>
                        <li>Domain name</li>
                        <li>Instance name</li>
                        <li>Your full name</li>
                        <li>Email address</li>
                        <li>Public email address</li>
                        <li>User name</li>
                        <li>Password</li>
                    </ul>
                </p>
                <p>
                    We process this information to provide you with our
                    services and for the performance of our contract with you
                    (Art. 6 par. 1 lit. b) GDPR). We retain such data until
                    termination of contract and for three more years for the
                    establishment, exercise or defence of legal claims.
                </p>
                <p>
                    Moreover, we are legally obliged to retain certain
                    documents relevant for tax and accounting reasons pursuant
                    to Sec. 147 AO (tax code, Abgabenordnung) and Sec. 257 HGB
                    (Commercial Code, Handelsgesetzbuch):
                </p>
                <p>
                    We are obliged to retain trading books, inventories,
                    opening balances, annual financial statements, status
                    reports and all information or instructions necessary for
                    understanding such documents as well as accounting records
                    for a period of 10 years (retention period beginning with
                    the end of the year in which the respective document was
                    created).
                </p>
                <p>
                    Additionally, we are obliged to retain commercial letters
                    send or received and other documents relevant for tax
                    reasons for 6 years (retention period beginning with the
                    end of the year in which the respective document was
                    created or the letter received).
                </p>
                <p>
                    Any personal data contained in such documents will be
                    retained and processed for the same period. Legal basis for
                    such processing is Art. 6 par. 1 lit. c) GDPR.
                </p>
                <h4>
                    Contact
                </h4>
                <p>
                    You can contact us either by filling out a form on our Site
                    or by writing an email. In both cases, we will process all
                    personal data you provide us with in order to answer your
                    request. This may include especially your name, email
                    address, subject of your message and the message itself. We
                    will retain your messages as long as we communicate
                    actively. Afterwards, we will store it for three more years
                    in case you contact us again.
                </p>
                <p>
                    All processing for such purposes is based on Art. 6 par. 1
                    lit. f) GDPR. The aforementioned purposes constitute our
                    legitimate interests we pursue with them.
                </p>
            </section>
            <section>
                <h3>
                    Recipients and transfers to third countries
                </h3>
                <p>
                    Internally, the relevant employees process your data.
                    Externally, we use IT service providers in order to present
                    you our Site and all its functions. If not stated otherwise
                    in this privacy policy, we do not transfer personal data to
                    third countries.
                </p>
            </section>
            <section>
                <h3>
                    Rights of the data subject
                </h3>
                <p>
                    If the respective requirements are met, the GDPR grants you
                    certain rights as a data subject.
                </p>
                <p>
                    <strong>Art. 15 GDPR – Right of access:</strong> You shall
                    have the right to obtain from us confirmation as to whether
                    or not personal data concerning you are being processed,
                    and, where that is the case, access to the personal data
                    and certain information.
                </p>
                <p>
                    <strong>Art. 16 GDPR – Right to rectification:</strong> You
                    shall have the right to obtain from us without undue delay
                    the rectification of inaccurate personal data concerning
                    you. Taking into account the purposes of the processing,
                    you shall have the right to have incomplete personal data
                    completed, including by means of providing a supplementary
                    statement.
                </p>
                <p>
                    <strong>Art. 17 GDPR – Right to erasure:</strong> You shall
                    have the right to obtain from us the erasure of personal
                    data concerning you without undue delay.
                </p>
                <p>
                    <strong>Art. 18 GDPR – Right to restriction of
                        processing:</strong> You shall have the right to obtain
                    from us the restriction of processing.
                </p>
                <p>
                    <strong>Art. 20 GDPR – Right to data portability:</strong>
                    You shall have the right to receive the personal data
                    concerning you, which you have provided to us, in a
                    structured, commonly used and machine-readable format and
                    you shall have the right to transmit those data to another
                    controller without hindrance from us.  You shall also have
                    the right to have the personal data transmitted directly
                    from us to another controller, where technically feasible.
                </p>
                <p>
                    <strong>Art. 21 GDPR – Right to object:</strong> You shall
                    have the right to object, on grounds relating to your
                    particular situation, at any time to processing of personal
                    data concerning you, which is based on legitimate interests
                    or for the performance of a task carried out in the public
                    interest or in the exercise of official authority vested in
                    the controller.
                </p>
                <p>
                    In such case, we shall no longer process the personal data
                    unless we demonstrate compelling legitimate grounds for the
                    processing, which override your interests, rights and
                    freedoms or where the processing is necessary for the
                    establishment, exercise or defence of legal claims.
                </p>
                <p>
                    Where personal data are processed for direct marketing
                    purposes, you shall have the right to object at any time
                    for such marketing, which includes profiling to the extent
                    that it is related to such direct marketing.
                </p>
                <p>
                    <strong>Art. 77 GDPR – Right to lodge a complaint with a
                    supervisory authority:</strong> Without prejudice to
                    any other administrative or judicial remedy, you shall have
                    the right to lodge a complaint with a supervisory
                    authority, in particular in the Member State of your
                    habitual residence, place of work or place of the alleged
                    infringement if you consider that the processing of
                    personal data relating to you infringes the GDPR.
                </p>
                <p>
                    <strong>Right to withdraw your consent:</strong> Where the
                    processing is based on your informed consent, you shall
                    have the right to withdraw consent at any time, without
                    affecting the lawfulness of processing based on consent
                    before its withdrawal.  Therefore, you may send us a
                    message to
                    <a href="mailto:contact@opencraft.com">contact@opencraft.com</a>.
                </p>
            </section>
            <section>
                <h3>
                    Obligation to provide us with personal data
                </h3>
                <p>
                    You have no statutory or contractual obligation to provide
                    us with any personal data. However, we may not be able to
                    provide you with our services if you decide not to do so.
                </p>
            </section>
            <section>
                <h3>
                    Existence of automated individual decision-making, including profiling
                </h3>
                <p>
                    We do not use automated individual decision-making,
                    including profiling pursuant to Art. 22 GDPR, which
                    produces legal effects concerning you or similarly
                    significantly affects you.
                </p>
            </section>
            <section>
                <h3>
                    Internet specific processing or use of personal data
                </h3>
                <h4>Cookies</h4>
                <p>
                    For providing you the services of the Site we may use
                    cookies. Cookies are small text files, which are
                    transferred from the Site and stored on your device.
                    Cookies cannot execute programs or infect your device with
                    computer viruses. Some cookies are stored only for your
                    current browser session and will be deleted once you close
                    your browser. Other cookies may be stored on your device
                    for a certain period. You can obtain more information on
                    how long specific cookies are stored within your end
                    device’s or browser software’s settings. We use cookies for
                    different purposes. One purpose is to provide you with the
                    functionality of our Site. Another purpose is analyzing
                    your usage of our Site. These cookies are not strictly
                    necessary for our Site to work properly, however, they give
                    us new insights on how to improve our services.
                </p>
                <p>
                    Typically, cookies do not contain personal data. However,
                    if that may be the case in certain situation, the
                    processing of such data has its legal ground in Art. 6 par.
                    1 lit. f) GDPR. The aforementioned purposes also
                    constitutes the legitimate interests we pursue with them.
                </p>
                <p>
                    If you wish to prevent us from storing cookies on your
                    device, your web browser or device may provide you with
                    settings to do so. You may find an instruction on how to
                    change your settings in the help section of your browser or
                    device.  The respective settings only apply to the device
                    you are currently using. If you use another device, change
                    your web browser or reinstall your browser you may have to
                    change the respective settings again. Please, be aware that
                    not accepting cookies may lead to you not being able to use
                    the Site and all its functions.
                </p>
                <h4>
                        Google Analytics
                </h4>
                <p>
                    We use Google Analytics, operated by Google LLC, 1600
                    Amphitheatre Parkway, Mountain View, CA 94043, USA
                    (&ldquo;Google&rdquo;) to collect information about how users use our
                    Site. The information generated by the cookie about your
                    use of the Site will be transmitted to and stored by Google
                    on servers in the United States. This information also
                    includes your IP address. However, as IP-anonymization is
                    activated, your IP address will be truncated and therefore
                    anonymized on systems within the European Union/ European
                    Economic Area and as soon as technically feasible. Only in
                    exceptional cases, the full IP address will be transferred
                    to a Google server in the United States, and then
                    shortened.
                </p>
                <p>
                    Google will use this information on our behalf for the
                    purpose of analyzing your use of the Site, compiling
                    reports on the website activity and providing other
                    services relating to activity on the Site and internet
                    usage. The IP address will not be associated with any other
                    data held by Google. You may refuse the use of cookies by
                    choosing the appropriate settings in your browser; please
                    note, however, that if you do this you may not be able to
                    use our service comprehensively.
                </p>
                <p>
                    You can also opt-out by downloading and installing &lsquo;Google
                    Analytics Opt-out Browser Add-on&rsquo; for your current web
                    browser:
                </p>
                <p>
                    <a href="http://tools.google.com/dlpage/gaoptout?hl=en">http://tools.google.com/dlpage/gaoptout?hl=en</a>.
                </p>
                <p>
                    Our processing is based on Art. 6 par. 1 lit. f) GDPR. The
                    aforementioned purposes constitute also the legitimate
                    interests we pursue with it. The collected data is stored
                    for [36] months. Further information on how Google
                    processes personal data is available at:
                    <a href="https://policies.google.com/?hl=en">https://policies.google.com/?hl=en</a>.
                </p>
            </section>
            <p>
                Berlin, August 2018
            </p>
        </div>
        <div class="page-content__inner__wrapper"></div>
    </div>
</div>

{% endblock content %}

{% block body_js %}
<script src="{% static "djng/js/django-angular.min.js" %}"></script>
<script src="{% static "external/js/icheck.min.js" %}"></script>
<script src="{% static "external/js/zxcvbn.js" %}"></script>
<script src="{% static "js/src/registration.js" %}"></script>
{% endblock body_js %}
