<form id="registration-form" name="{{ form.form_name }}" action="#form" method="post" enctype="multipart/form-data" ng-controller="Registration" novalidate>

    {% csrf_token %}

    {% if form.errors %}
    <div class="page-content__inner__wrapper">
        <div class="box-alert background-red color-white clearfix">
            <div class="box-alert__content">
                Please check the following fields for errors:
                <ul>
                    {% for field in form.fields_with_errors %}
                        <li class="invalid">{{ field }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="page-content__wrapper position-relative">
        {% with row="registration/form_field.html" %}
            {% include row with field=form.subdomain %}
            {% include row with field=form.instance_name %}
            {% include row with field=form.full_name %}
            {% include row with field=form.email %}
            {% include row with field=form.public_contact_email %}
            {% include row with field=form.privacy_policy_url %}
            {% include row with field=form.username %}
            {% if form.password %}
                {% include row with field=form.password %}
                {% include row with field=form.password_confirmation %}
            {% endif %}

            {# design fields #}
            {% include row with field=form.main_color %}
            {% include row with field=form.link_color %}
            {% include row with field=form.header_bg_color %}
            {% include row with field=form.footer_bg_color %}
            {% include row with field=form.logo %}
            {% include row with field=form.favicon %}
        {% endwith %}
        {% with row="registration/form_checkbox_field.html" %}
            {% include row with field=form.accept_terms view_name="registration:terms" link_text="View the Terms of Service" %}
            {% include row with field=form.accept_privacy_policy view_name="registration:privacy" link_text="View the Privacy Policy" %}
            {% include row with field=form.subscribe_to_updates %}
        {% endwith %}
        {% with field=form.password_strength %}
            {{ field }}
        {% endwith %}
        <div class="page-content__wrapper__stroke hidden-xs"></div>
    </div>

    <div class="page-content__inner__wrapper color-cyan-light-moderate text-xs-center">
        <button type="submit" class="btn btn--cyan-light-moderate color-white background-cyan-light-moderate">
            {% if form.instance.pk %}
            Update your details
            {% else %}
            Create your Open edX site
            {% endif %}
        </button>
    </div>

</form>
