{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Terms of Service{% endblock title %}

{% block content %}
<div class="page-title text-xs-center color-white">
    <h1 class="page-title__text">Terms of Service</h1>
</div>
<div class="row page-content clearfix">
    <div class="page-content__inner small-12 medium-10 medium-offset-1 float-left background-white">
        <div class="page-content__inner__wrapper">
            <section>
                <p>
                    The Services are provided by OpenCraft GmbH, c/o Dr. Jan
                    Timmann, Jerusalemer Str. 14, 10117 Berlin, Germany (in the
                    following referred to as: &ldquo;OpenCraft&ldquo;). By
                    using the Services, you are agreeing to these terms
                    (subsequently as a whole referred to as
                    &ldquo;Agreement&rdquo;).
                </p>
            </section>
            <section>
                <h3 class="page-content__inner__numbered-item">
                    Preamble
                </h3>
                <p>
                    OpenCraft is a service company specializing on specific
                    services for the Open edX platform. The Open edX platform
                    is an Open Source course management system (&ldquo;CMS&rdquo;),
                    developed by edX, a nonprofit online initiative created by
                    founding partners Harvard and MIT and composed of dozens of
                    leading global institutions. The Open edX platform is used
                    to host Massive Open Online Courses (MOOCs) as well as
                    smaller classes and training modules. OpenCraft helps their
                    Customers to run MOOC courses on the OpenStack  platform
                    with the services described in this Agreement. The Product
                    (cp. Section 2.2.) and all updates and releases are
                    available for free and OpenCraft helps the Customer to
                    configure, install and host an instance of the edX platform
                    with database services as well as official upstream updates
                    and security releases of the Product as described below.
                </p>
            </section>
            <section>
                <h3 class="page-content__inner__numbered-item">
                    Subject Matter
                </h3>
                <section class="subsection">
                    <p class="page-content__inner__numbered-item">
                    The following conditions apply to the basic set-up, hosting
                    and installation of official releases of specific Open edX
                    services (the &ldquo;Product&rdquo;) by OpenCraft as described in
                    Section 4.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    The Product consists of the Open Source software Open edX
                    Studio, Open edX LMS, a set of problems types that are
                    based on LON-CAPA problem types and that can be embedded in
                    courses, along with text and embedded YouTube videos and a
                    discussion forum as specified and released by OpenEdX.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    The Product itself as an Open Source software does not
                    belong to OpenCraft and is not part of the services
                    hereunder. OpenCraft will download the Product from GitHub
                    or other repositories on behalf of the Customer and use its
                    best efforts to provide the services described in Section
                    4. The Product itself is not part of the performance of
                    OpenCraft under this Agreement and neither is any warranty,
                    guarantee or liability with regard to the Product.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    The services under this Agreement will not be provided to
                    consumers within the meaning of section 13 of the German
                    Civil Code.
                    </p>
                </section>
            </section>
            <section>
                <h3 class="page-content__inner__numbered-item">
                    Registration and conclusion of the Agreement
                </h3>
                <section class="subsection">
                    <p class="page-content__inner__numbered-item">
                    By registering on the website with his name, his email
                    address and his company, the Customer makes an offer to
                    conclude the Agreement.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    OpenCraft will check the corresponding registration and
                    send an email to the Customer containing an activation link
                    (&ldquo;Activation Email&rdquo;). The Agreement is considered concluded
                    when the Customer clicks the activation link.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    For the start of the term as well as the free trial, please
                    see Sections 8 and 9.
                    </p>
                </section>
            </section>
            <section>
                <h3 class="page-content__inner__numbered-item">
                    Scope
                </h3>
                <section class="subsection">
                    <p class="page-content__inner__numbered-item">
                    Basic setup (included in Basic Fee, cp Appendix 1, Section
                    A)
                    </p>
                    <section class="subsection">
                        <p class="page-content__inner__numbered-item">
                        The Customer can select basic configuration options
                        according to the defined selection options in the
                        registration process.
                        </p>
                        <p class="page-content__inner__numbered-item">
                        After entering his information and choosing a password and
                        the configuration settings, OpenCraft will send the
                        Customer the link to activate his account via email. By
                        clicking on the activation link, OpenCraft will set up a
                        user account, configure and deploy the Product.
                        </p>
                        <p class="page-content__inner__numbered-item">
                        OpenCraft will download the most current stable version of
                        the Product as well as Open Source databases for the
                        Product on behalf of the Customer from repositories as
                        described in Appendix 1.
                        </p>
                        <p class="page-content__inner__numbered-item">
                        OpenCraft then sends the Customer an email with the URL to
                        the Customer&apos;s instance of the Product. The Customer can
                        then access the Product via his user account.
                        </p>
                    </section>
                </section>
                <section>
                    <p class="page-content__inner__numbered-item">
                    Continuous Updates, Upgrades and security releases
                    (included in Basic Fee)
                    </p>
                    <section class="subsection">
                        <p class="page-content__inner__numbered-item">
                        In case of regular official version releases (minor
                        &ldquo;Update&rdquo; or major &ldquo;Upgrade&rdquo;) as well as official
                        extraordinary security releases (&ldquo;Security Release&rdquo;) of the
                        Product by Open edX, Open Craft will install the new
                        version on the hosted servers without further notifying the
                        Customer. OpenCraft will inform the Customer in due time
                        about necessary downtimes.
                        </p>
                        <p class="page-content__inner__numbered-item">
                        The Customer is aware that OpenCraft will only install the
                        Updates, Upgrades and Security Releases or provide other
                        services for the respective current stable version of the
                        Product.
                        </p>
                    </section>
                </section>
                <section>
                    <p class="page-content__inner__numbered-item">
                    Hosting (included in Basic Fee)
                    </p>
                    <section class="subsection">
                        <p class="page-content__inner__numbered-item">
                        OpenCraft will host the Product for the Customer by storing
                        and running it on commissioned hosting providers for the
                        duration of the contract. The Customer will use the Product
                        for his own purposes and to store and process his own data.
                        </p>
                        <p class="page-content__inner__numbered-item">
                        The Customer has the right to use the number of Virtual
                        Machines purchased for the duration of the contract.
                        </p>
                        <p class="page-content__inner__numbered-item">
                        OpenCraft will make available the Product to the Customer
                        via the Internet at the interface between the systems of
                        the server operator and the internet (&ldquo;Handover Point&rdquo;),
                        subject to any restrictions with regard to availability or
                        other restrictions caused by the server operator. OpenCraft
                        is not responsible for establishing and maintaining the
                        data connection between the Customer's IT systems and the
                        described Handover Point.
                        </p>
                        <p class="page-content__inner__numbered-item">
                        Furthermore, OpenCraft will frequently monitor the hosting
                        services for downtimes and backup the Customers hosted data
                        once per week. OpenCraft keeps at least one backup at any
                        time (the latest).
                        </p>
                        <p class="page-content__inner__numbered-item">
                        In addition to the support that OpenCraft provides for its
                        services, the Customer can request additional email support
                        (&ldquo;Additional Email Support&rdquo;, e.g. for malfunctions of the
                        Product itself) on additional hourly billing on the
                        conditions in Appendix 2 Section 5.
                        </p>
                        <p class="page-content__inner__numbered-item">
                        Individual custom work (&ldquo;Custom Work&rdquo;, e.g. an export of
                        the data from the databases) can be agreed upon separately
                        on additional hourly billing.
                        </p>
                        <p class="page-content__inner__numbered-item">
                        Furthermore, the Customer can book the use of more Virtual
                        Machines (&ldquo;Additional Virtual Machine&rdquo;) on a price agreed
                        upon separately.
                        </p>
                        <p class="page-content__inner__numbered-item">
                        Additional Services can be requested via e-mail to
                        contact@opencraft.com.
                        </p>
                    </section>
                </section>
                <p class="page-content__inner__numbered-item">
                    The details of the included and non-included services are
                    specified in Appendix 1.
                </p>
            </section>
            <section>
                <h3 class="page-content__inner__numbered-item">
                    Availability
                </h3>
                <section class="subsection">
                    <p class="page-content__inner__numbered-item">
                    Unless stated otherwise in Appendix 2, OpenCraft grants an
                    availability of the Product of an average of 95% per month.
                    The time necessary for installing Updates, Upgrades,
                    Security Releases and/or other services like planned
                    maintenance will be deducted before calculating the average
                    availability.
                    </p>
                    <p>
                    For the purpose of this Agreement, availability means the
                    time during which the Virtual Machines purchased by the
                    Customer are reachable via the internet at the Handover
                    Point and which was not interrupted by critical or major
                    incidents as described in Appendix 2. Upstream problems of
                    the Product itself do not affect the granted availability,
                    see Appendix 2.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    OpenCraft hereby informs the Customer that restrictions or
                    interferences of the services provided under this Agreement
                    may occur that are out of OpenCraft&apos;s sphere of influence.
                    This includes in particular, but not limited to the
                    following, actions by third parties, acting not on
                    OpenCraft&apos;s commission, technical conditions of the
                    Internet or the Product not open to influence by OpenCraft,
                    as well as force majeure. The Customer&apos;s hard- and software
                    or his technical infrastructure may also influence the
                    services provided by OpenCraft. It shall not be considered
                    a breach of this Agreement, should the circumstances
                    described above influence availability or functionality of
                    the services.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    The Customer is obliged to report outages, disturbances or
                    interferences immediately and as accurate as possible to
                    OpenCraft. If the Customer fails to provide such report,
                    &sect; 536 c BGB applies.
                    </p>
                </section>
            </section>
            <section>
                <h3 class="page-content__inner__numbered-item">
                    Obligations of the Customer
                </h3>
                <section class="subsection">
                    <p class="page-content__inner__numbered-item">
                    If necessary, the Customer is obliged to contribute to the
                    services agreed on and provided by OpenCraft. In
                    particular, the Customer provides all necessary information
                    and documents and specifies a professionally qualified and
                    sufficiently authorized contact person for the consummation
                    of the contract. Information and documents provided by the
                    Customer are an essential foundation for the provision of
                    OpenCraft&apos;s services under this Agreement. Faulty or
                    incomplete information will be to the detriment of the
                    Customer.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    Since OpenCraft is not offering the Product itself, the
                    Customer is responsible for meeting the technical
                    requirements to access and use the Product. The Customer is
                    responsible for ensuring, that his traffic does not exceed
                    the capacities of the booked Virtual Machines.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    The Customer is obliged not to make content available via
                    OpenCraft&apos;s systems, that is offensive or otherwise
                    unlawful, be that absolute or in relation to a single third
                    party. The Customer is the processor of personal data or
                    information and has to make sure that this data is
                    processed lawfully at all times.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    The Customer is responsible for all processed data and
                    content he makes available, including potentially necessary
                    rights of use. OpenCraft might take notice of the
                    Customer&apos;s content and data only during the course of
                    maintenance (for example, to upgrade the data format to a
                    new version of Open edX, to fix a bug with the site or
                    answer a question from the Customer) and for usage
                    statistics and monitoring. Otherwise OpenCraft takes no
                    notice of the Customer&apos;s content in any way whatsoever.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    If and insofar as the Customer does not perform his
                    obligations according to this Section 6, OpenCraft is not
                    obliged to perform its contractual duties. In that case,
                    OpenCraft reserves the right to block the Customer&apos;s access
                    to the Product, if it is necessary to prevent severe
                    damage. If the Customer is responsible for his violation of
                    duty and OpenCraft suffers damage, the Customer has to
                    reimburse any such loss.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    If OpenCraft is made liable by third parties, including the
                    Customer&apos;s employees, because of a claimed action or
                    forbearance by the Customer, the Customer is obliged to
                    indemnify OpenCraft against all liability and any costs,
                    including possible and actual legal fees (according to
                    statutory law), if such claimed action or forbearance was
                    incurred culpably by the Customer. As far as it is legally
                    possible, OpenCraft will inform the Customer about the
                    claims and give him the possibility to defend himself.
                    Simultaneously, the Customer will provide all the
                    information available to him about the matter giving rise
                    to the claim. Any further claims for damages remain
                    unaffected.
                    </p>
                </section>
            </section>
            <section>
                <h3 class="page-content__inner__numbered-item">
                    OpenCraft Customer Support/Service Level Agreement
                </h3>
                <p>
                    The applicable Service Level Agreement for the services
                    granted under this Agreement is attached hereto as Appendix
                    2.
                </p>
            </section>
            <section>
                <h3 class="page-content__inner__numbered-item">
                    Term and Termination
                </h3>
                <section class="subsection">
                    <p class="page-content__inner__numbered-item">
                    The Initial Term starts on the first day, the Customer has
                    access to the Product (with when the email with the URL is
                    sent to the Customer) and will be valid for one month (the
                    &ldquo;Initial Term&rdquo;). It will renew automatically for a period
                    of one month (&ldquo;Renewal Term&rdquo;) if it is not terminated by
                    notice either by email to  contact@opencraft.com  or by
                    written letter. The notice of termination must be received
                    by OpenCraft by the end of a Contractual Month and becomes
                    effective at the end of the following Contractual Month.
                    </p>
                    <section class="subsection">
                        <p class="page-content__inner__numbered-item">
                        &ldquo;Contractual Month&rdquo; is the general term for both an Initial
                        Term and a Renewal Term together. The Initial Period is
                        beginning on the first day the Customer got access to the
                        Product and ending on the previous day at midnight of the
                        following calendar month. For example, if the Customer got
                        access to the Product on March 10, the Customer&apos;s Initial
                        Term lasts from March 10 to April 9, and the first Renewal
                        Period from April 10 to May 9.
                        </p>
                    </section>
                </section>
                <p class="page-content__inner__numbered-item">
                The right to extraordinary termination for cause remains
                unaffected.
                </p>
                <p class="page-content__inner__numbered-item">
                Irrespective of any right to termination, the Customer has
                the option to suspend the Agreement free of charge for a
                period of 1 to 6 full Contractual Months per calendar year
                after expiry of the Initial Term. The application for a
                suspension of the Agreement must be received by OpenCraft
                by the end of a Contractual Month and becomes effective at
                the end of the following Contractual Month. The break ends
                automatically at the end of the break duration, which the
                Customer can shorten by full Contractual Months or extend
                to the maximum break duration at any time. The Customer can
                end the break with immediate effect by declaration to
                OpenCraft. In the event of immediate termination of the
                break, the monthly fee for the entire Contractual Month
                must be paid immediately.
                </p>
                <p class="page-content__inner__numbered-item">
                Furthermore, the Agreement can be suspended according to
                Section 8.5.
                </p>
                <p class="page-content__inner__numbered-item">
                The Customer&apos;s right to use the Product shall lapse when
                notice of termination or suspension of the contract enters
                into effect. In such case, the Customer&apos;s access to the
                Product shall be blocked, and the Customer shall no longer
                have access to their account or to any stored Application
                Data.
                </p>
                <p class="page-content__inner__numbered-item">
                If requested so by the Customer, in case of a full or
                partial termination of this Agreement, OpenCraft is obliged
                to hand over, or destroy, all data, documents and materials
                containing business, organizational or technical data or
                information about the Customer or his customers, unless
                there is a legal duty to preserve such material or the
                material is OpenCraft&apos;s intellectual property, or necessary
                for further liquidation of the contract. This service is to
                be paid separately according to Appendix 1 Section B.
                </p>
                <p class="page-content__inner__numbered-item">
                If requested, OpenCraft performs all the services necessary
                for the transfer of the contractual services to the
                Customer or any third party specified by the Customer (for
                example migration to another IT-System, providing of
                adequately qualified employees, conduction of trainings)
                for a period of up to twelve (12) months after termination
                (hereafter: &ldquo;Transition Period&rdquo;). OpenCraft will cooperate
                with the Customer and a specified third party to ensure
                that no service disturbances take place and that the
                Customer or the named third party is able to carry on the
                contractual services after the discontinuation of the
                contract. OpenCraft is obliged to create and surrender an
                appropriate documentation. The Customer has to contribute
                to this documentation. This service is to be paid
                separately according to Appendix 1 Section B.
                </p>
                <p class="page-content__inner__numbered-item">
                OpenCraft&apos;s right to remuneration according to this
                Agreement remains in place until the systems are shut down.
                In single cases, OpenCraft and the Customer may agree about
                the reduction or increase of the remuneration per month,
                the availability of the infrastructure and warranty in
                individual cases.
                </p>
                <p class="page-content__inner__numbered-item">
                After written notice by the Customer that he is able to
                read and process all the surrendered data, the data will be
                eliminated from OpenCraft&apos;s data center and the Customer
                will be informed.
                </p>
                <p class="page-content__inner__numbered-item">
                Any specific agreements between the parties governing the
                processing of personal data according to Data Protection
                Law remain unaffected.
                </p>
            </section>
            <section>
                <h3 class="page-content__inner__numbered-item">
                    Fees and Payment
                </h3>
                <section class="subsection">
                    <p class="page-content__inner__numbered-item">
                    The Initial Term is free of charge.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    Monthly Basic Fee:
                    </p>
                    <section class="subsection">
                        <p class="page-content__inner__numbered-item">
                        For each Renewal Period, the Customer will pay a monthly
                        Basic Fee according to Appendix 1 Section A.
                        </p>
                        <p class="page-content__inner__numbered-item">
                        Monthly fees are due in advance on the first working day of
                        each Renewal Period.
                        </p>
                    </section>
                </section>
                <section>
                    <p class="page-content__inner__numbered-item">
                    Additional Fees
                    </p>
                    <section class="subsection">
                        <p class="page-content__inner__numbered-item">
                        Further services (e.g. Additional Email Support, Custom
                        Work, Additional Virtual Machines) can be purchased and
                        contracted separately.
                        </p>
                        <p class="page-content__inner__numbered-item">
                        If not explicitly stated otherwise, the price for
                        Additional Services in Appendix 1 Section B applies.
                        </p>
                        <p class="page-content__inner__numbered-item">
                        Invoices for additional Fees will be sent to the Customer
                        at the end of a Contractual Month.
                        </p>
                        <p class="page-content__inner__numbered-item">
                        If not explicitly stated otherwise, prices are exclusive of
                        value added tax and payments and are due within two weeks
                        upon receipt of the invoice without any deduction.
                        </p>
                    </section>
                </section>
                <section>
                    <p class="page-content__inner__numbered-item">
                    OpenCraft is authorized to adjust prices according to the
                    general price development after expiration of the Initial
                    Term (cp. Section 8.1). If the raise is higher than 5%, the
                    Customer has the right to terminate the Agreement with a
                    notice period of five working days. Termination must be
                    declared within a period of 14 days after the announcement
                    of the raise.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    If payment is overdue at the beginning of a subsequent
                    Contractual Month, OpenCraft reserves the right to suspend
                    the provision of its services with prior warning. If
                    partial amounts of a claim are disputed, the undisputed
                    parts have to be paid.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    Offsetting shall only be allowed with legally established
                    or undisputed claims that originate from the same legal
                    relationship and arise from a claim entitling the
                    counterclaimss creditor to a right of retention or a right
                    to withhold performance.
                    </p>
                </section>
            </section>
            <section>
                <h3 class="page-content__inner__numbered-item">
                    Liability
                </h3>
                <section class="subsection">
                    <p class="page-content__inner__numbered-item">
                    OpenCraft is liable for damage that is caused willfully or
                    with gross negligence, or that is the consequence of the
                    absence of a warranted condition of the services, or that
                    is caused by a culpable breach of an essential contractual
                    obligation (&ldquo;Cardinal Duty&rdquo;, cp. Section 10.2), or that is
                    the consequence of a culpable infringement of health, body
                    or life, or under the legal requirements that are provided
                    for by the German &ldquo;Produkthaftungsgesetz&rdquo; (Product
                    Liability Law).
                    </p>
                    <p class="page-content__inner__numbered-item">
                    &ldquo;Cardinal Duties&rdquo;  are contractual obligations, without the
                    fulfilment of which due performance of the contract would
                    not be possible, in the fulfilment of which the contractual
                    partner may trust, and whose infringement on the other side
                    endangers the achievement of the purpose of the contract.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    In the event of a merely negligent breach of an essential
                    contractual obligation (cp Section 10.2), however,
                    OpenCraft&apos;s liability is restricted to foreseeable damage
                    that can be typically foreseen with regard to contracts
                    such as the one between OpenCraft and the Customer, to the
                    extent the damage is based on slight negligence only and
                    does not affect health, body or life.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    In case of an interruption or interference or other damage
                    causing occurrences that result from telecommunications
                    services by OpenCraft or a third party OpenCraft is
                    responsible for, OpenCraft is only liable up to the amount
                    that can be claimed within a right of recourse against the
                    telecommunications services provider. OpenCraft is not
                    liable for the operability of the connection cables leading
                    to the servers that are subject of this Agreement, or in
                    case of a power outage, or in case of server outages  that
                    are not in the sphere of influence of OpenCraft.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    Otherwise, OpenCraft&apos;s or its vicarious agent&apos;s liability,
                    or the liability of the persons employed in the performance
                    of OpenCraft&apos;s obligations under this Agreement, for
                    whatever reason is excluded.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    If OpenCraft is liable, taking into account the above
                    provisions for the loss of the Customer&apos;s data OpenCraft&apos;s
                    liability for a loss of data is limited to typical
                    expenditures required for restoration that would have been
                    avoidable with the regular and due creation of backup
                    copies.
                    </p>
                </section>
            </section>
            <section>
                <h3 class="page-content__inner__numbered-item">
                    Subcontractors, Products of Third Party Suppliers
                </h3>
                <p>
                    OpenCraft may use subcontractors to perform its services without further
                    notice or approval.
                </p>
            </section>
            <section>
                <h3 class="page-content__inner__numbered-item">
                    Confidentiality
                </h3>
                <section class="subsection">
                    <p class="page-content__inner__numbered-item">
                    The party receiving confidential information (&ldquo;Receiving
                    Party&rdquo;) will keep confidential any confidential information
                    of the party disclosing confidential information
                    (&ldquo;Disclosing Party&rdquo;) that he is disclosed or will be
                    disclosed in context with this Agreement or otherwise and
                    that is marked as confidential or that is recognizable as a
                    business or a trade secret (&ldquo;Confidential Information&rdquo;).
                    The Receiving Party will not disclose such Confidential
                    Information to third parties, record it or use it in any
                    other way, as long as the Disclosing Party has not declared
                    its consent explicitly and in writing, or the information
                    has to be disclosed due to statutory law, a court decision
                    or an administrative order.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    If applicable, the Receiving Party ensures by appropriate
                    contractual Agreements with his employees, contractors and
                    all other persons that work for him, that these persons do
                    not disclose, exploit, distribute, or record any
                    Confidential Information.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    Information is not considered Confidential Information as
                    described in this Section 12 if it has been disclosed to
                    the Receiving Party before the conclusion of this contract
                    and has not been subject to a confidentiality obligation
                    then, is publicly known or became known to the public
                    without a breach of a confidentiality obligation is
                    disclosed to the Receiving Party without a breach of a
                    confidentiality obligation by a third party
                    </p>
                    <p class="page-content__inner__numbered-item">
                    If the Receiving Party breaches one of the obligations
                    stated in this clause, the Disclosing Party has the right
                    to terminate this Agreement extraordinarily. The Disclosing
                    Party reserves the right to assert further claims, in
                    particular damage claims.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    The obligations according to this Section 12 will survive
                    the termination of the contract.
                    </p>
                </section>
            </section>
            <section>
                <h3 class="page-content__inner__numbered-item">
                    References
                </h3>
                <p>
                    OpenCraft has the right to reference the Customer and the
                    services provided to the Customer on its own website and
                    for advertising purposes. For this purpose, OpenCraft has
                    the right to use the logo and firm (abbreviated as the case
                    may be) of the Customer. Furthermore, OpenCraft has the
                    right to publish a press release about the Agreement with
                    the Customer.
                </p>
            </section>
            <section>
                <h3 class="page-content__inner__numbered-item">
                    Data Privacy, Right to data processing and data security
                </h3>
                <section class="subsection">
                    <p class="page-content__inner__numbered-item">
                    If OpenCraft collects, processes, or uses personal data or
                    information of the Customer during the initiation,
                    conclusion or performance of this Agreement, OpenCraft will
                    comply with applicable data protection and privacy laws and
                    only within the scope of this Agreement.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    The Customer processes personal data or information on
                    IT-Systems OpenCraft is technically responsible for. If it
                    cannot be ruled out that OpenCraft comes into contact with
                    personal data or information the Customer is responsible
                    for during the performance of the services ordered by the
                    Customer, an agreement over a commissioned data processing
                    must be concluded.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    If not stated otherwise in the commissioned data processing
                    agreement, the Customer grants OpenCraft the right to
                    reproduce the data to be stored by OpenCraft for the
                    Customer for the purpose of executing the contract, insofar
                    as this is necessary for the provision of the services owed
                    under this contract. If not stated otherwise, OpenCraft is
                    also entitled to make changes to the structure of the data
                    or the data format in order to provide the services agreed
                    upon in Section 4.
                    </p>
                </section>
            </section>
            <section>
                <h3 class="page-content__inner__numbered-item">
                    Non-solicitation
                </h3>
                <p>
                    The Customer obliges not to employ, recruit or entice away
                    or try to recruit or entice away any person employed or
                    otherwise engaged by OpenCraft.
                </p>
            </section>
            <section>
                <h3 class="page-content__inner__numbered-item">
                    Final provisions
                </h3>
                <section class="subsection">
                    <p class="page-content__inner__numbered-item">
                    These terms of the Agreement apply exclusively. The
                    Customer's General Terms and Conditions do not apply.
                    Counter-confirmations of the Customer with reference to his
                    own General Terms and Conditions are expressly
                    contradicted.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    Any changes and additions to this document require textform
                    (letter, email or fax). Textform shall also apply to any
                    amendments to this Section 16.2.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    This Agreement shall be governed by German law. The
                    application of German and European international private
                    law and UN Convention on Contracts for the International
                    Sale of Goods is hereby excluded.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    Exclusive place of jurisdiction shall be Berlin.
                    </p>
                    <p class="page-content__inner__numbered-item">
                    If any individual provisions of this contract, including
                    this provision, are wholly or partly ineffective, the
                    effectiveness of the other provisions or parts of such
                    provisions shall remain unaffected. The respective
                    statutory provisions shall apply in place of the
                    ineffective or lacking provisions.
                    </p>
                </section>
            </section>
            <section class="appendices">
                <section class="appendix">
                    <h3 class="page-content__inner__appendix-header">
                        Specifications
                    </h3>
                    <h4 class="appendix-item">
                        &ldquo;Professional Package&rdquo;
                    </h4>
                    <p class="page-content__inner__appendix-numbered-item">
                        Fact Sheet Professional Package
                    </p>
                    <ul class="page-content__inner__appendix-list">
                        <li>
                            Download of the Product from repositories like GitHub (e.g.
                            https://github.com/edx/edx-platform/)
                        </li>
                        <li>
                            Download of database services (e.g. MySQL, MongoDB &amp;
                            S3/SWIFT) for up to 1GB/VM
                        </li>
                        <li>
                            Storage of the Product on third party hosting providers
                            commissioned by OpenCraft (e.g. OVH/So you Start, AWS/S3)
                        </li>
                        <li>
                            A dedicated virtual machine by the commissioned providers
                            (VM) to run the Product (4GB RAM), RAID SSD (2.4 GHz)
                        </li>
                        <li>
                            Maximum size of Customer data that can be stored on the
                            Product: 1 GB/VM
                        </li>
                        <li>
                            Number of simultaneous users: approximately 50 per VM
                            (depending on usage pattern). Regarding the booked
                            capacities and the usage of the Customer, the number can be
                            lower or higher. It is the Customer&apos;s responsibility to
                            check that the capacity is enough for his needs.
                        </li>
                        <li>
                            Limit for traffic: 100 GB/month
                        </li>
                    </ul>
                    <p class="page-content__inner__appendix-numbered-item">
                        Price for services included in the Professional Package
                        (&ldquo;Basic Fee&rdquo;)
                    </p>
                    <ul class="page-content__inner__appendix-list">
                        <li>
                            150 EUR/VM per month (max 1 VM)
                        </li>
                    </ul>
                    <h4 class="appendix-item">
                        Price for Additional Services not included in the Basic Fee
                    </h4>
                    <ul class="page-content__inner__appendix-list">
                        <li>
                            If not stated otherwise, the price for time spent for
                            additional services is 150 EUR/h
                        </li>
                        <li>
                            If not stated otherwise the price for Additional Virtual
                            Machines is 150 EUR/VM
                        </li>
                    </ul>
                </section>
                <section class="appendix">
                    <h3 class="page-content__inner__appendix-header">
                        Service Level Agreement
                    </h3>
                    <p class="page-content__inner__appendix-numbered-item">
                        Open Craft only provides services for the scope of
                        OpenCraft&apos;s contractual duties as described in the
                        Agreement (e.g. OpenCraft causes the slowdown or downtime
                        with a faulty hosting resource) and e.g. not for
                        malfunctions of the Open Source Product itself that result
                        in a bug of the upstream project or which fall under the
                        responsibility of the Customer (e.g. the Customer has too
                        much traffic that the Virtual Machines he is renting cannot
                        handle). In such cases, OpenCraft will ask if the Customer
                        want support on an additional hourly billing. Furthermore,
                        OpenCraft will charge the Customer with the costs of the
                        measures afterwards, as far as it turns out that the
                        incident does not fall within OpenCraft&apos;s responsibility.
                    </p>
                    <p class="page-content__inner__appendix-numbered-item">
                        Severity level of incidents
                    </p>
                    <p>
                        Incidents affecting the Product are handled according to
                        their severity level.
                    </p>
                    <section class="subsection">
                        <p class="page-content__inner__appendix-numbered-item">
                            Critical incidents
                        </p>
                        <p>
                        An incident is categorized as critical when the platform
                        becomes globally inaccessible, data is lost, or hosting
                        resources are compromised. Upon notification, either by
                        monitoring services or Customer staff, OpenCraft will work
                        to restore access to the site, beginning as soon as the
                        notification has been acknowledged, which will happen by
                        9am EST on the next business day at the latest, and
                        completing the restoration by the end of day. OpenCraft
                        will rebuild the platform instance using spare
                        infrastructure, and/or restoring the latest off-site backup
                        if data recovery is required. The Recovery Point Objective
                        (RPO) is thus 24h, and the Recovery Time Objective (RTO) is
                        one business day.
                        </p>
                        <p class="page-content__inner__appendix-numbered-item">
                            Major incidents:
                        </p>
                        <p>
                        An incident is categorized as major when parts of the
                        platform become inaccessible, or user experience is
                        degraded in a major way (for example, significant slowdowns
                        of page loading time). Upon notification, either by
                        monitoring services or Customer staff, OpenCraft will work
                        to restore normal access to the site, starting as soon as
                        the notification has been acknowledged, which would happen
                        by noon on the next business day at the latest, and
                        completing the restoration by the end of the following
                        business day.
                        </p>
                        <p class="page-content__inner__appendix-numbered-item">
                            Minor incidents:
                        </p>
                        <p>
                        An incident is categorized as minor when defects do not
                        belong to the critical or major categories, or are general
                        bugs from the Open edX platform code base common to other
                        instance installations. Upon notification by Customer
                        staff, and depending on Customer preferences, OpenCraft can
                        either work on solving the issue/bug or wait for the
                        upstream project to publish a solution/fix for the issue.
                        OpenCraft will acknowledge the issue by noon EST on the
                        next business day at the latest, and if the Customer staff
                        opts to ask OpenCraft to solve the issue itself, OpenCraft
                        will complete the fix and its deployment according to a
                        schedule jointly agreed on by Customer staff and OpenCraft.
                        </p>
                    </section>
                </section>
                <section>
                    <p class="page-content__inner__appendix-numbered-item">
                        Critical and major incidents are included. Minor incidents
                        and operations requested by Customer staff are charged by
                        the hour.
                    </p>
                    <h4 class="page-content__inner__appendix-numbered-item">
                        Notification of Incidents
                    </h4>
                    <p>
                        OpenCraft is considered notified when an email has been
                        sent to contact@opencraft.com (or in case of
                        unavailability, any backup email mentioned in the
                        auto-reply sent when writing to the designated contact).
                    </p>
                    <h4 class="page-content__inner__appendix-numbered-item">
                        Tier3 Support
                    </h4>
                    <p>
                        As part of the maintenance plan, OpenCraft will be
                        available for project-related communication and support (in
                        English or French), by email during office hours, with a
                        guaranteed response time of one business day. OpenCraft
                        won't field customer calls or requests, but customer
                        requests can be escalated to OpenCraft as a Tier3
                        Engineering support.
                    </p>
                </section>
            </section>
        </div>
        <div class="page-content__inner__wrapper"></div>
    </div>
</div>

{% endblock content %}

{% block body_js %}
<script src="{% static "djng/js/django-angular.min.js" %}"></script>
<script src="{% static "external/js/icheck.min.js" %}"></script>
<script src="{% static "external/js/zxcvbn.js" %}"></script>
<script src="{% static "js/src/registration.js" %}"></script>
{% endblock body_js %}
