{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Terms of Use{% endblock title %}

{% block content %}
<div class="page-title text-xs-center color-white">
    <h1 class="page-title__text">Terms of Use</h1>
</div>

<div class="row page-content clearfix">
    <div class="page-content__inner small-12 medium-10 medium-offset-1 float-left background-white">
        <div class="page-content__inner__wrapper">
            <section>
                <h3>General</h3>
                <p>
                    Headquarters for the National Digital Israel Initiative in
                    Ministry of Social Equality of the State of Israel
                    (hereinafter, &ldquo;the Ministry&rdquo;) offers the
                    information and online services in this Internet site
                    (hereinafter, &ldquo;the Service&rdquo; or &ldquo;the
                    Website&rdquo;) subject to the following terms:
                </p>
                <p>
                    The meaning of the terms &ldquo;User&rdquo; is any person
                    who makes contact and/or communicates with the Website.
                </p>
                <p>
                    The information in the Website is formulated in masculine
                    form for convenience purposes only and refer to men and
                    women alike.
                </p>
            </section>
            <section>
                <h3>Copyrights</h3>
                <p>
                    Following the copyrights laws applicable in Israel and
                    international conventions, the copyrights in the
                    Ministry&apos;s publications, including those published in
                    this Service are the property of the State of Israel. These
                    copyrights command, among other things, text, pictures,
                    drawings, maps, sound clips, video clips, graphics and
                    software applications (hereinafter, &ldquo;the Privileged
                    Material&rdquo;), unless explicitly determined otherwise
                    that the copyrights in the Privileged Material are the
                    property of another party. The copyrights are the property
                    of the Ministry or of third parties and is reserved to
                    them.
                </p>
                <p>
                    The User may perform &ldquo;fair use&rdquo; of the
                    Privileged Material in accordance with the rules set by the
                    law. Fair use includes a reasonable quote out of the
                    Privileged Material. The said quoter should mention the
                    source of the quote, whether it is the Ministry or another
                    party. The User may not make use, within the Privileged
                    Material, of any falsification, vitiation or other change
                    or any action that may be a degradation in relation to the
                    Privileged Material that may slight or dishonor the owner
                    of the copyrights in it. Subject to copyright laws, the
                    User may not copy, redistribute, retransmit, or publish
                    Privileged Material without the Ministry&apos;s advance
                    written consent.
                </p>
            </section>
            <section>
                <h3>Links to websites</h3>
                <p>
                    There are links in this site, referring to external
                    websites.  These websites are not under the Ministry&apos;s
                    control and the Ministry cannot be held accountable to the
                    content of the material found in the foregoing websites.
                    These websites are exclusively intended for the convenience
                    of Users of the Website. In addition, the Ministry cannot
                    be held liable, directly or indirectly, to the content of
                    the websites and it cannot be held accountable in any way
                    whatsoever to flaws and/or defects and/or errors of any
                    kind in the information appearing in those websites. The
                    Ministry will not be held responsible to software and other
                    damages if caused due to use of the websites. In other
                    words, there are no legal or commercial relations between
                    the Ministry and the owners of the linked websites.
                </p>
                <p>
                    At the time of editing the links to the external websites
                    in the Ministry&apos;s Website, it was found that the
                    information complies with the Website&apos;s general
                    objectives and the actual links are in order at the time.
                    However, it is possible that with time, changes are made to
                    the linked website, hence links to external websites should
                    not be construed as providing authorization, certification,
                    recommendation or preference by the State or the Ministry
                    to the linked websites of their operators, owners or
                    creators, including to documents and any other material
                    contained in them or to products presented in them.
                </p>
                <p>
                    If a user in a website believes a linked site or material
                    in it are not appropriate or if it found that the link is
                    not proper or in any other application relevant to this
                    Service, he is required to report this to the Website staff
                    by e-mail to address
                    <a href="mailto:support@campus.gov.il">support@campus.gov.il</a>.
                </p>
            </section>
            <section>
                <h3>Privacy</h3>
                <p>
                    In order to be registered and receive the Services offered
                    by this Website, we will issue you a personal username and
                    password.
                </p>
                <p>
                    Pay attention that upon entry into this Website, you
                    confirm that you understand and unequivocally confirm
                    collection, use, disclosure and saving of your personal
                    details as specified above in Israel, Ireland and other
                    countries and territories for the purposes specified in
                    this privacy policy document. For the avoidance of doubt,
                    it is hereby clarified that any confirmation pertaining to
                    the right to transfer information defined hereunder as
                    &ldquo;Student Data&rdquo; also includes your approval to
                    transfer the relevant personal data to a jurisdiction that
                    may provide a different level of privacy protection than
                    that existing in your country.
                </p>
                <p>
                    If your disagree to these terms, please refrain from
                    surfing to this Website, reviewing any of its content or
                    registering to it. If you choose to refrain from providing
                    us with a certain information that is required for
                    provision of certain services offered by our Website, it is
                    possible that you may not be able to create a user account
                    and we may not be capable of providing you with these
                    services.
                </p>
                <p>
                    We will require that you provide us with the following
                    information about you (Student Data):
                </p>
                <p>
                    <ol> 
                        <li>Full name</li>
                        <li>ID No.</li>
                        <li>e-mail address</li>
                        <li>Organization name</li>
                        <li>Name of the course to which you are registering</li>
                    </ol>
                </p>
                <p>
                    We gather the Student Data upon your registration to the
                    Website for the purpose of receiving a user account, while
                    participating in on-line courses, registering to get a
                    certificate for a payment, send us an e-mail and/or take
                    part in our public forums. We also gather certain useful
                    information regarding the student performance and learning
                    patterns. In addition, we monitor information indicating
                    to, among other things, which of the Website&apos;s pages
                    you have visited, the order of your visits to them, the
                    time of these visits as well as which hyperlinks and other
                    interface controllers you have used.
                </p>
                <p>
                    We may document the IP address, operating system and web
                    browser software used by any user of the Website, and we
                    can identify from the IP address the Internet provider and
                    geographical location of the User&apos;s connection point.
                    An assortment of network analysis tools are used in
                    gathering this information. Some of the information is
                    gathered by Cookie files (small text files placed in your
                    computer and record information about you to which the
                    Website can access.) You are supposed to have the
                    capability to control the way your web browser accept
                    Cookie files, if at all.  Most web browsers provide
                    instructions in the Help area in the toolbar how to reset
                    the browser so it reject Cookie files. If you choose to
                    reject our Cookie files, many functionalities and elements
                    of the Website&apos;s accessories may not be operating
                    properly.
                </p>
                <p>
                    Among other things, we, educational institutes and other
                    bodies (hereinafter, &ldquo;the Educational
                    Institutes&rdquo;), providing courses by way of the Website,
                    may use information about you gathered from the Website
                    (including Student Data) in the following cases. In case we
                    share or deliver your Student Data: (1) third parties that
                    receive the Student Data are required to handle these data
                    in a confidential way and employ security means sufficient
                    for protection of the information from loss, improper use,
                    unauthorized access of exposure, alteration and
                    destruction; (2) we will disclose and share the Student
                    Data with a third party only when requested by a third
                    party for execution of either of the objectives declared to
                    you upon gathering of the information.
                </p>
                <p>
                    <ul>
                        <li>
                            To enable us and the Educational Institutes to
                            provide, manage and improve the courses.
                        </li>
                        <li>
                            To assist us and the Educational Institutes to
                            better the Website&apos;s value proposal, either
                            individually (e.g. by a course staff when working
                            with a student), or collectively and make the
                            experience personalized and for the purpose of
                            evaluating the access to and use of the Website as
                            well as its impact on the Israeli and international
                            educational community.
                        </li>
                        <li>
                            For scientific research, especially, e.g. in area
                            of cognitive studies and pedagogy.
                        </li>
                        <li>
                            For purposes for which you have explicitly provided
                            the information, such as in response to a specific
                            question or to grant you access to content of a
                            specific course and/or courses you choose.
                        </li>
                        <li>
                            In order to perform an individual and general
                            tracking of attendence, progress and completion of
                            an on-line course, and for statistical analysis of
                            the student performance and learning method.
                        </li>
                        <li>
                            To monitor and identify violations of the code of
                            honor or service terms, as well as misuse or
                            possible abuse of the Website.
                        </li>
                        <li>
                            To publish gathered information, excluding personal
                            information, that pertaining to access to, use of
                            or influence of the Website, as well as to student
                            performance.
                        </li>
                        <li>
                            To send you updates regarding on-line courses we or
                            educational institutes offer or about other events.
                        </li>
                        <li>
                            To archive this information and/or use it in future
                            communications with you.
                        </li>
                        <li>
                            To preserve and improve the performance of the
                            Website, software, systems and network and their
                            security.
                        </li>
                        <li>
                            For the purposes described in various places in
                            this privacy policy (including, e.g., sharing with
                            a third party.)
                        </li>
                        <li>
                            For the purpose of verifying your identity upon
                            registration for a paid certificate.
                        </li>
                        <li>
                            To process applications for refund, when
                            applicable.
                        </li>
                    </ul>
                </p>
                <p>
                    This Website may include connections to websites operated
                    by a third party, including other content and certain
                    service providers, such as the providers that process
                    payments on our behalf. These other websites are not under
                    our control and you agree and acknowledge that we cannot be
                    held responsible to the gathering of your personal
                    information and use of it as part of your visit to these
                    websites, unless mentioned otherwise in this privacy
                    policy. We advise you to use caution when being redirected
                    to third party websites from this Website and review the
                    privacy policy of each and every website you visit and use.
                </p>
                <p>
                    We share the gathered information with Educational
                    Institutes and we and the Educational Institutes may share
                    this information (including Student Data) with a third
                    party as follows:
                </p>
                <p>
                    <ul>
                        <li>
                            With service providers or contractors that perform
                            certain actions in our name or in the name of the
                            Educational Institutes, including processing of
                            information you have provided us in the Website,
                            processing of acquisitions and other transactions
                            in the Website by way of third party suppliers,
                            operation of the Website or parts of it, provision
                            or management of courses, or in any connection to
                            any other aspect of the Services we provide.
                        </li>
                        <li>
                            With other visitors to the Website, if you send
                            reactions, homework or other information and
                            contents (hereinafter collectively, &ldquo;the
                            Publications&rdquo;) to a part in the Website that
                            was designated to public communication and to other
                            members of your class, if you are sending
                            Publications to a part of the Website that was
                            designated to the eyes of these classmates. We may
                            provide your Publications to students who will
                            register to the same courses you take in the
                            context of the forums, the courseware or any other
                            context. If we republish your Publications that
                            originally appeared in the non-public parts of the
                            Website, we will do so without mentioning your real
                            name and e-mail address (unless you explicitly
                            approve publication of your details), but we would
                            be entitled to use your Username without your
                            consent.
                        </li>
                        <li>
                            For scientific research, especially, e.g. in area
                            of cognitive studies and pedagogy. Nevertheless, we
                            will share your personal information for this
                            purpose only if this can be done in a lawful way
                            and to the extent permissible by the law.
                        </li>
                        <li>
                            In order to provide you with opportunities to
                            communicate with other users with similar areas of
                            interest and learning objectives to yours. For
                            instance, we may recommend certain study partners
                            or establish contact between students who have the
                            potential to mentor one another. In such cases, we
                            may use the information we have gathered about you
                            to determine who may be interested in communication
                            with you, but will provide the other students
                            nothing but your Username and will not reveal your
                            real name or the e-mail address by which you could
                            be contacted.
                        </li>
                        <li>
                            In response to a summons or to a court order, or
                            for any other legal procedure; to investigate or
                            prevent investigation, or to act in reaction to
                            illegal activities, suspicion of fraud, or in view
                            of security or technical problems, or to enforce
                            our terms of service, code of honor or privacy
                            policy as much as may be required in excess to the
                            applicable law or to protect our rights, property
                            and safety or of others.
                        </li>
                        <li>
                            With entities and organizations related to us or to
                            the Educational Institutes and/or with which we or
                            the Educational Institutes collaborate or with
                            those that will come in our place, in the event
                            that the management of this Website or any part of
                            it will be transferred to any other third party for
                            the purpose of provision of the Services by them in
                            accordance with the terms of this privacy policy.
                        </li>
                        <li>
                            As will described before you upon collection of
                            funds from you or following your authorization.
                        </li>
                        <li>
                            For integration with third party services. For
                            instance, video clips and other content that would
                            be uploaded to the YouTude website or others that
                            are not under our control.
                        </li>
                    </ul>
                </p>
                <p>
                    For your attention:
                </p>
                <p>
                    We intend to share your Student Data with EdX.inc that
                    provides or will provide us with hosting and other services
                    as webite administrators.
                </p>
                <p>
                    In accordance with a service provision agreement signed
                    between us (the Headquarters for the National
                    &ldquo;Digital Israel&rdquo; Initiative) and EdX.inc,
                    &ldquo;EdX will use such Student Data only if this is
                    essential to executing tasks according to this agreement.
                    EdX will ensure that it will not share the Student Data
                    with a third party unless it received a written advance
                    approval from the Digital Israel Headquarters or if EdX is
                    required to share the information, as long as it takes the
                    appropriate safety and secrecy measures. EdX will act in
                    accordance with all the laws, policy provisions and
                    regulations applicable to it and pertaining to use it makes
                    with the Student Data.&rdquo;
                </p>
                <p>
                    The Website and data stored in it are stored in server farm
                    of Amazon Web Services (AWS) in Dublin, Ireland. To review
                    AWS&apos;s privacy policy and terms of use, visit
                    <a href="https://aws.amazon.com/privacy/">https://aws.amazon.com/privacy/</a>
                </p>
            </section>
            <section>
                <h3>Official publications of the State of Israel</h3>
                <p>
                    Should there be a conflict or discrepancy between the
                    material published in the Website and that appearing in
                    official written publications of the State of Israel, the
                    material in this official publications will be considered
                    correct. In any event of conflict and/or discrepancy
                    between the material displayed in this Service and another
                    publication of the Ministry, the Ministry will determine
                    which publication should be considered correct.
                </p>
            </section>
            <section>
                <h3>Use of Cookie files</h3>
                <p>
                    This Website use Google Analytics, a Google product
                    assisting website owners understand the way customers are
                    involved in their websites.
                </p>
                <p>
                    When you visit this Website, your web browser automatically
                    sends Google certain data. These data includes, among other
                    things, the web address of the page you are visiting and
                    your IP address.
                </p>
                <p>
                    Google Analytics uses Cookie files, text files placed in
                    the computer to help the website to analyze how users use
                    the website. The information gathered by a Cookie file is
                    transferred to Google servers where it is stored. Google
                    uses this information to assess your use of the website and
                    prepare reports on the website activity and Internet use
                    for website owners.
                </p>
                <p>
                    Google may also transfer the information to third parties
                    when it is required to do so by the law or when a third
                    party processes the information for Google. Google will not
                    attribute the IP address to other information in its
                    possession.
                </p>
                <p>
                    Use of Cookie files can be cancelled by selecting the
                    appropriate option in the browser&apos;s settings, but in
                    such a case, it is possible that some of the information
                    appearing in the Website will not be available.
                </p>
                <p>
                    For further information on the way to cancel sending
                    information to Google Analytics
                </p>
                <p>
                    Surfing to this Website constitutes your consent to the
                    information gathering by Google in the way and for the
                    purposes aforementioned.
                </p>
            </section>
            <section>
                <h3>Warranty</h3>
                <p>
                    The Service is offered to the public AS IS.
                </p>
                <p>
                    The State of Israel will not be held responsible for the
                    matching of the Service to the User&apos;s requirements. In
                    addition, the State of Israel will not be held liable for
                    mistakes or errors in the material presented within the
                    Service.
                </p>
                <p>
                    The State of Israel will not be held liable for changes
                    made to the material presented within the Service by the
                    User or any third party.
                </p>
                <p>
                    The User bears the sole responsibility to the manner he
                    uses the Service.
                </p>
                <p>
                    The State of Israel will not be held responsible for any
                    damage incurred by the User of any third party as a direct
                    or indirect result of use of the Service, including damage
                    caused due to use of software applications that were
                    downloaded directly by way of the Service or used as a
                    result of using the Service. For the purpose of this
                    section, the State of Israel includes its employees and
                    representatives.
                </p>
            </section>
            <section>
                <h3>Applications regarding the Website or Service</h3>
                <p>
                    Applications or questions regarding the Website&apos;s
                    activity can be sent by way of e-mail to
                    <a href="mailto:support@campus.gov.il">support@campus.gov.il</a>.
                </p>
            </section>
        </div>
        <div class="page-content__inner__wrapper"></div>
    </div>
</div>

{% endblock content %}

{% block body_js %}
<script src="{% static "djng/js/django-angular.min.js" %}"></script>
<script src="{% static "external/js/icheck.min.js" %}"></script>
<script src="{% static "external/js/zxcvbn.js" %}"></script>
<script src="{% static "js/src/registration.js" %}"></script>
{% endblock body_js %}
